[2016-08-27 09:42] martinlindhe opened #3 "Better name of Win32_PerfRawData_PerfDisk_LogicalDisk metrics"
Currently named "perf"

Suggested names:
* disk
* io

Please add a vote or another suggestion, We'll rename it in a few days.

[2016-08-27 09:42] martinlindhe commented on #3
@carlpett

[2016-08-27 10:00] carlpett commented on #3
My vote would be `logical_disk`, despite the length :) If we will expose the `PhysicalDisk` family some time (which I think would be useful) , it will need to be possible to distinguish them.

[2016-08-27 10:01] carlpett opened #4 "Clean up exposed metrics from LogicalDisk"
Ensure correct units, remove unusable metrics etc. PR in progress.

[2016-08-27 10:05] martinlindhe commented on #3
Makes sense. I have no objections :-)

[2016-08-27 10:06] martinlindhe commented on #3
Do you mind doing the rename, if you are already knee-deep in the code? Otherwise I'll do it on monday or so. Also the perf.go should be renamed to logical_disk.go, and maybe refactor the subsystem name into a const.

[2016-08-27 10:09] carlpett commented on #3
Sure! Good point about the const as well.

[2016-08-27 10:11] martinlindhe commented on #4
:tada:

[2016-08-27 10:31] martinlindhe opened #6 "Set up a CI"
Would like to attach travis-ci or circleci or simlar to the project. Need to figure out if/how they support running go code on Windows.

[2016-08-27 10:36] martinlindhe commented on #6
travis-ci support for windows seems to be in beta/non-working.

https://www.appveyor.com/ offers windows CI

[2016-08-27 10:54] martinlindhe commented on #6
appveyor added: https://ci.appveyor.com/project/martinlindhe/wmi-exporter

[2016-08-27 10:54] #6 closed

[2016-08-27 12:05] carlpett opened #7 "Change default port"
The default port 9129, is allocated to HAProxy log exporter, see https://github.com/prometheus/prometheus/wiki/Default-port-allocations. Either we should switch to the next free one (9182, currently), or possibly overlap with node_exporter, if this is intended as a Windows replacement.
I'd prefer a unique port, opinions?

[2016-08-27 12:44] martinlindhe commented on #7
lets go with a unique port

[2016-08-27 13:11] #7 closed

[2016-08-27 13:48] carlpett opened #9 "Feature: IIS metrics"

[2016-08-27 13:49] carlpett commented on #9
I'm working on this via the Win32_PerfRawData_W3SVC_WebService class. There are _a lot_ of different sources for IIS in perfmon however, so maybe there are other classes which are better suited?

[2016-08-27 15:27] martinlindhe commented on #9
Very nice! I was thinking earlier today about other Windows metrics, in particular SQL Server stuff (which I will need to investigate sooner or later anyway), and if they are exposed in WMI, would they fit this collector, or as separate project.

Assuming they are available as WMI, I guess they can fit in this project.

In any case I think it would make sense for the user to be able to configure t

[2016-08-27 15:31] carlpett commented on #9
Yup, I'm thinking we should just copy the structure used in `node_exporter`, with a flag for `enabled-collectors`

[2016-08-27 15:32] martinlindhe opened #11 "Feature: SQL Server"
Does SQL server expose WMI metrics?
If so, it would be very nice to also support that in this project.

[2016-08-27 15:34] martinlindhe commented on #9
Agreed. Perhaps the "perf" and "os" ones should be exported by default.

[2016-08-27 15:37] martinlindhe commented on #3
(hopefully resolved in #5)

[2016-08-27 15:41] martinlindhe commented on #11
There are WMI provider for SQL Server management: https://technet.microsoft.com/en-us/library/ms186452%28v=sql.90%29.aspx

And there are WMI provider for SQL Server Events: https://technet.microsoft.com/en-us/library/ms186449%28v=sql.90%29.aspx

[2016-08-27 16:51] brian-brazil commented on #9
IIS is a network service, so should have its own exporter (unless you're going to go down the JMX exporter route).

[2016-08-27 16:54] brian-brazil commented on #11
If you're going down the route of being a WMI exporter rather than a Windows machine metrics exporter, then this should work similarly to the JMX exporter. That is there would be a config file per service to map WMI to Prometheus metrics.

[2016-08-27 17:07] martinlindhe commented on #11
Okay. Perhaps a separate project for sql server then. Will consider this later on.

[2016-08-27 17:09] martinlindhe commented on #11
However, i think it is a common use case to want to monitor a windows box that is running both IIS and sql server, without the need/hazzle of running multiple exporters.

[2016-08-27 17:49] brian-brazil commented on #11
The Prometheus architecture is that you'd run an exporter per IIS and per SQL server.

[2016-08-28 10:10] martinlindhe opened #12 "Automatically convert WMI metrics to prometheus"
@brian-brazil wrote in #5

[2016-08-28 10:12] carlpett commented on #9
From the discussions in #5:

@brian-brazil With users running multiple exporters for servers with multiple databases/webapps, much like for other exporters, I assume? We'll need to test that at larger scales, I think. I've seen non-negligible performance impact from running many WMI queries (the current approach would just be one query for all say 20 sites, rather than 20 queries for one site each

[2016-08-28 10:15] martinlindhe commented on #11
This is related to #12

[2016-08-28 10:15] martinlindhe commented on #9
This is related to #12

[2016-08-28 13:00] carlpett opened #13 "Wiki page for WMI <-> Prometheus conversion"
As suggested by @brian-brazil, we should have a wiki page for how to map WMI types to Prometheus types. I made a start, and then tried to PR it, but it seems Github does not support wiki-PRs for some reason.
So, workaround: File an issue with the page markdown :) This is mostly a skeleton so far, I added the few types we use in `logical_disk`, but I expect we'll continually edit this as we make pr

[2016-08-28 15:40] brian-brazil commented on #13
If you give me access, I'll fill this out.

On 28 Aug 2016 15:01, "Calle Pettersson" <notifications@github.com> wrote:

[2016-08-28 18:25] carlpett opened #14 "Feature: CPU metrics"
Possibly relevant WMI class: `Win32_PerfRawData_Counters_ProcessorInformation`, provides these fields:

[code]

Haven't found any MSDN documentation of this class, so potentially there might be better ones? It was the only one reported on my test machine, though

[2016-08-28 18:30] carlpett commented on #14
`Win32_PerfRawData_PerfOS_Processor` might also be a candidate

[2016-08-29 06:49] #4 closed

[2016-08-29 06:49] #3 closed

[2016-08-29 06:51] martinlindhe commented on #13
Can't you guys edit the project wiki? Not sure how to open it up, let's figure it out

[2016-08-29 06:53] martinlindhe commented on #13
(added you both as collaborators)

[2016-08-29 07:07] martinlindhe commented on #14
https://msdn.microsoft.com/en-us/library/aa392397(v=vs.85).aspx mentions "Classes derived from Win32_PerfRawData and from Win32_PerfFormattedData must be used with a refresher object.", not sure we currently have ability to probe these using the current wmi lib. (research needed)

[2016-08-29 07:12] martinlindhe opened #15 "Build failure"
go get -u github.com/prometheus/common
go build .

[code]

due to recent changes in prometheus. Cause of appveyor build failure.
Investigating..

ping @carlpett

[2016-08-29 07:25] martinlindhe commented on #15
Failure seems to be related to ongoing work in common + golang_client, and might be resolved as soon as this patch lands https://github.com/prometheus/client_golang/pull/233

Failure in common repo: https://travis-ci.org/prometheus/common/jobs/155817891 from original failing commit: https://github.com/prometheus/common/pull/52

[2016-08-29 07:46] carlpett commented on #13
Yup, works well.

[2016-08-29 07:46] #13 closed

[2016-08-29 08:21] brian-brazil commented on #14
The "refresher object" here is Prometheus.

[2016-08-29 08:33] martinlindhe commented on #14
Oh :-) guess it sounded more complicated than it is

[2016-08-29 08:37] brian-brazil commented on #14
Yeah, it's all written from the standpoint that you're writing a realtime console.

[2016-08-29 17:48] brian-brazil commented on #13
https://msdn.microsoft.com/en-us/library/cc238313.aspx is useful.

[2016-08-29 18:21] brian-brazil commented on #13
I've filled out what I can. Some time/denominator aspects remain unclear.

[2016-08-30 05:50] carlpett commented on #13
Great work!

[2016-08-30 15:27] carlpett commented on #15
I guess this is a friendly reminder that vendoring is a required part of building go applications. We should probably use `promu`: https://github.com/prometheus/promu

[2016-08-30 15:53] carlpett commented on #15
Hm, apparently promu doesn't mandate a specific vendoring application? We should probably use it anyway, but then we need to choose one of the dozen or so vendorers

[2016-08-30 16:18] carlpett commented on #15
... or maybe it is totally overkill since we do not produce docker images, and do not really cross-compile (apart from possibly x86/x64). But we should at least start vendoring. I just can't find out which vendorer all the other prometheus packages use?
@brian-brazil Any opinions on how a "well-behaved" exporter should look in order to be consistent with the rest of the ecosystem?

[2016-08-30 16:58] brian-brazil commented on #15
We use govendor, but this is your exporter so you're free to use what you like.

[2016-09-01 10:03] martinlindhe commented on #15
Is it really meaningful to vendor the prometheus client stuff? I mean, is it expected the prometheus masters are breaking from time to time, or was this a exceptional situation?

[2016-09-01 10:03] #15 closed

[2016-09-01 10:03] martinlindhe opened #16 "Use govendor?"
(see #15 for previous discussion)

[2016-09-01 12:45] #9 closed

[2016-09-01 13:32] martinlindhe commented on #12
@brian-brazil wrote

Would this satisfy the above wish? #17
It now works like the node_exporter, taking a `--collectors.enabled` flag

[2016-09-01 14:12] #16 closed

[2016-09-01 17:40] brian-brazil commented on #12
#17 still requires code to be written per WMI class. What I'm proposing is that you'd only have to pass in the WMI class, and everything else (as much as practical) is automatic.

[2016-09-02 13:59] martinlindhe opened #21 "Feature: network metrics"
Expose as "net" and up naming with regards to prometheus conventions, could be based on https://github.com/bosun-monitor/bosun/blob/master/cmd/scollector/collectors/network_windows.go

* all network interfaces should be exposed
* should have white/blacklist like iis.go
* enabled by default?

[2016-09-02 14:01] martinlindhe commented on #11
Some code (MIT licensed) that this could be based on exists here: https://github.com/bosun-monitor/bosun/blob/master/cmd/scollector/collectors/sqlagent_windows.go

[2016-09-15 18:33] martinlindhe opened #22 "installer: windows event log messages are hard to read"
@carlpett  wrote

(related to msi installer, introduced in #19)

[2016-09-16 21:31] carlpett opened #24 "Version info is not compiled into binary"
Noticed that version info is not compiled into the binary, so log lines don't show much. I'm guessing we're not doing all the things that is expected from prometheus/common? Since most prometheus tools use promu, maybe there is some magic there? For instance, the promu.yml file adds some ldflags: https://github.com/prometheus/promu/blob/master/.promu.yml

[2016-09-17 10:35] carlpett commented on #24
Verified that it works if adding the ldflags. Then the question is how to do this in a reasonable way - the commandline becomes long enough that it is not something you'd want to write yourself.

The first solution that comes to mind is using promu, since that is used to build a lot of other things in the Prometheus ecosystem. Sadly, the windows support isn't that good. I've put a few hours on try

[2016-09-17 14:07] carlpett opened #25 "/ should serve some welcome page instead of redirecting"
Currently we do a redirect from `/` to `/metrics`. Drawback to this is that there is no request that can be done to check that everything is alright (http server is working, at least) without also incurring the cost of running the wmi queries.

Our use case is that we have `/` as a http healthcheck endpoint for exporters which we register in Consul. If we want to keep the redirect, we should have

[2016-09-17 17:55] carlpett opened #27 "Release 0.1"
I created a 0.1 milestone as a way to track things that I think are part of a minimum viable first release.

- [x] #14
- [x] #21
- [x] #24
- [x] #37

Anything else that could be seen as required to be useful?

[2016-09-19 06:45] martinlindhe commented on #27
Looks great!

[2016-09-19 06:49] martinlindhe commented on #25
I've personally no real opinion on this one. The redirect / -> metrics came while copying boilerplate code (from node_exporter, or one of the other exporters. Don't remember).

If a simple health check page is useful, perhaps put it on /health, rather than on the root?

[2016-09-19 06:53] martinlindhe commented on #24
Something might be missing, but the prometheus hookup is this stuff: https://github.com/martinlindhe/wmi_exporter/blob/master/exporter.go#L109

[code]

Personally I'm a Makefile lover, so that works for me. (using https://scoop.sh myself)

[2016-09-19 07:14] martinlindhe commented on #27
(Looked over the other issues and the above list looks like a good goal for a 0.1 release)

[2016-09-19 07:16] martinlindhe commented on #27
Also, I think we should nuke the https://github.com/martinlindhe/wmi_exporter/wiki/TODO wiki, and use issues with milestones & labels instead

[2016-09-19 08:15] carlpett commented on #24
The magic is supposed to happen here: https://github.com/prometheus/common/blob/master/version/info.go#L27. Building with `-ldflags -X vendor/github.com/prometheus/common/version.version=0.1.2` and so on populates those values.

After messing about with it a bit more, I think `promu` would be best, if we can get it to work. I did a PR which has been merged, but still needs a few more. An iterim so

[2016-09-19 08:16] carlpett commented on #27
Agreed! Wiki page removed :)

[2016-09-25 06:32] #12 closed

[2016-09-25 06:34] martinlindhe commented on #14
Did we resolve this by merging #26 ?

[2016-09-25 07:59] carlpett commented on #14
Yes, I think so

[2016-09-25 07:59] #14 closed

[2016-09-27 08:38] martinlindhe commented on #21
I intend to work on this during the current week

[2016-09-27 09:21] martinlindhe commented on #21
Note: MSFT_NetAdapterStatisticsSettingData class seems useful, but is only available on Windows Server 2012+
https://msdn.microsoft.com/en-us/library/hh872390

[2016-09-27 12:51] #25 closed

[2016-09-28 06:24] #21 closed

[2016-09-28 08:53] carlpett commented on #24
I did a bit of testing to set everything directly in the AppVeyor config, which was not a pleasurable experience. I'll do a bit more hacking on promu and see if that is feasible

[2016-09-29 08:26] martinlindhe commented on #24
Had a look too

If one add a VERSION containing `0.1.0` and a .promu.yml like
[code]

then run

$ promu build -v .

edit the output command, which fails silently and remove the `-extldflags "-static"` part of command (double quotes mess up go command),
result is a binary with version info

[code]

[2016-09-29 08:27] martinlindhe commented on #24
Also @carlpett reported issue upstream: https://github.com/prometheus/promu/issues/44

[2016-09-29 08:33] carlpett commented on #24
The problem as far as I understand is the `go-shell` library which makes some Linuxy assumptions (such as always executing `/bin/sh`), and not working great when those don't hold. Since Go does it's own pass of quoting in `exec` on Windows, there is extra confusion.
I'm surprised you actually got any output from promu - on my machine it silently fails to build at all...

[2016-09-29 08:43] martinlindhe commented on #24
Yep. working on a patch for promu that removes much of dependency of go-shell.

[2016-09-29 08:43] martinlindhe commented on #24
Regarding output, the -v switch to promu should enable verbose output.

[2016-09-29 08:50] carlpett commented on #24
Ah, you too? :) I'm probably not going to have time to do any more work on my patch until the weekend anyway, though, so if you're on it that is great!

[2016-09-29 09:07] martinlindhe commented on #24
https://github.com/prometheus/promu/pull/47

[2016-09-29 09:24] martinlindhe commented on #24
Related: #32

[2016-09-29 09:29] martinlindhe commented on #24
Sorry if i caused extra work, I should have asked for your progress before starting on this.

[2016-09-29 18:28] carlpett commented on #24
No worries, and great work!

[2016-09-29 18:34] carlpett commented on #22
Another thing that should be considered as well here, every `log.Whatever` results in a separate log event in the Windows Event log. For that reason I merged the "enabled collectors" log output, but we may want to do another pass over this to see if there are other places where there are multiline logs done like this.

[2016-10-06 00:10] blendi-93 opened #33 "[featurerequest] file exporter"
can u pls implement a fileexporter so i dont have to fire u node_exporter and wmi_exporter on windows?

thx.

[2016-10-06 06:33] carlpett commented on #33
I guess we'll need to discuss this, but I'm not too keen on duplicating every feature in node_exporter just for its own sake, especially functionality that actually works on Windows in the existing package.
@martinlindhe Opinion?

[2016-10-06 06:55] brian-brazil commented on #33
If this is just a node-exporter equivalent we should have it. If it's more like the JMX exporter and does more general WMI stuff it's more questionable.

[2016-10-06 06:58] martinlindhe commented on #33
Thanks for the input @brian-brazil
i need to have a look as I'm not familiar with what this file exporter is doing

/m

[2016-10-07 11:56] martinlindhe commented on #11
Possibly overlapping with this project: https://github.com/iamseth/azure_sql_exporter

[2016-10-07 13:07] carlpett commented on #11
Partial overlap, yes, but that one does not support on-prem SQL server. We have probably a dozen or so instances locally that I'd like to get some metrics from.

[2016-10-10 07:20] martinlindhe commented on #11
Just added it for reference. I also want to proceed adding "normal" sql server support to wmi_exporter :-)

/m

[2016-10-13 07:09] martinlindhe commented on #24
Created a final pr #35 to make use of the version info by using promu in appveyor.yml

[2016-10-14 07:48] carlpett commented on #27
Added one more point: Which collectors should be enabled by default (also update README)? I'm assuming everything except IIS should be on by default? Working on a PR for updating `exporter.go` and the README.

[2016-10-14 07:58] #24 closed

[2016-10-14 07:59] martinlindhe commented on #27
@carlpett I think everything enabled except iis sounds reasonable too

[2016-10-14 08:00] martinlindhe commented on #27
@carlpett regarding version info in binary.. it "should" work properly now with appveyour but i would like to test it out, can we manually trigger builds with appveyor.. or should we keep fingers crossed and hope it works out when we create the 0.1 tag?

[2016-10-14 08:10] carlpett commented on #27
@martinlindhe Looking at the latest build from master it looks like it works:

[code]

One thing I just realized, though - should we overwrite the `VERSION` file if there is a tag?

[2016-10-14 08:17] martinlindhe commented on #27
dont know.. maybe promu dont require the VERSION file?

[2016-10-14 08:20] martinlindhe commented on #27
tested
[code]

ends up with version field being empty in the startup log.

[2016-10-14 08:20] martinlindhe commented on #27
so.. could we fill VERSION with current tag in appveyor.yml maybe?

[2016-10-14 08:21] martinlindhe commented on #27
seems like other projects using promu has to manually bump the VERSION file, example https://github.com/prometheus/prometheus/blob/master/VERSION :-(

[2016-10-14 08:29] carlpett commented on #27
Yes, I think I'd prefer just setting it from the tag and not having it checked in at all. But then we'd need to do something at non-release builds. I like this approach: https://github.com/GitTools/GitVersion, what do you think?

[2016-10-14 08:32] carlpett commented on #27
Apparently they have some sort of integration with AppVeyor: http://gitversion.readthedocs.io/en/latest/build-server-support/build-server/appveyor/

[2016-10-14 08:41] martinlindhe commented on #27
Seems to suit our needs!
do you want to investigate using gitversion?
also, perhaps we should raise an issue with prometheus/promu if we figure out a way to avoid manually touching VERSION

[2016-10-14 08:42] carlpett commented on #27
All boxes checked! :tada:
Good points. I'll give gitversion a look, but let's track that separately and tag 0.1! :cake:

[2016-10-14 09:08] martinlindhe commented on #27
Okay, lets merge govendor bump and update VERSION  before tagging!

[2016-10-14 09:08] martinlindhe commented on #27
hm wait, VERSION is already "0.1.0" so we can keep it i hope

[2016-10-14 10:18] martinlindhe opened #38 "[Draft] 0.1 announcement"
planning on posting something like this to https://groups.google.com/forum/#!forum/prometheus-developers and maybe other places?

(PLEASE EDIT BELOW TEXT)
[code]

[2016-10-14 10:53] carlpett commented on #38
Did some minor grammar touch-up, but otherwise I think it looks great!
There is a prometheus-users list as well, should probably send there, too?

[2016-10-14 11:05] martinlindhe commented on #38
Ah, good point!

[2016-10-14 11:32] martinlindhe commented on #27
okay, here goes!

[2016-10-14 11:32] #27 closed

[2016-10-14 11:35] martinlindhe commented on #27
got some output from appveyor that looked bad, but release binaries was upload so guess we can ignore it?

[code]

https://ci.appveyor.com/project/martinlindhe/wmi-exporter/build/161

[2016-10-14 11:40] martinlindhe commented on #38
posted to prometheus-developers and prometheus-users

[2016-10-14 11:40] #38 closed

[2016-10-14 12:21] carlpett commented on #27
I think it tries to create the release, but Github automagically created a release for the tag already. So all is well :)

[2016-10-14 12:27] martinlindhe commented on #27
okay, all good then!

[2016-10-24 10:57] martinlindhe commented on #11
I'm planning to have a look at sql server support this week

[2016-11-02 11:21] martinlindhe commented on #11
Failed to make any progress last week. Not sure i'll be able to work on this current week.

[2016-11-09 11:28] pskiwi opened #40 "Make wmi_system_system_up_time format more Prometheus friendly"
The metric _wmi_system_system_up_time_ is exported as Pico-seconds since system-start.
To visualize it you have to use something like

`wmi_system_system_up_time{instance="$instance"}/1000000000000`

It would be more convenient to export the system start as Unix timestamp. See [Prometheus-Timestamp-Doc](https://prometheus.io/docs/practices/instrumentation/#timestamps-not-time-since).
This should r

[2016-11-10 06:37] brian-brazil commented on #40
We should only expose it as a unix timestamp if the source value is an absolute time. If it's the time since boot, then we have to export that instead to avoid confusion

It should be in seconds in any case.

It should compress it pretty well already.

[2016-11-14 07:49] martinlindhe commented on #40
I'm looking at this now. One issue is the WMI call is undocumented (of microsoft) as far as I could google.

I don't see wmi_system_system_up_time increasing at all on my test system (win7).

@pskiwi could you confirm you really are seeing this value increasing?

Can't find any official docs on this wmi call anymore, but found this archived link:
https://web.archive.org/web/20050830140516/http://m

[2016-11-14 14:50] pskiwi commented on #40
You are right, the raw value seems to be constant. It was a lucky coincidence, that the value was correct for me.

In case you didn't know, you could query the values via Power-Shell:
`Get-WmiObject -query "SELECT * FROM Win32_PerfRawData_PerfOS_System";`

the real uptime value seems to be available from the formatted data:
`Get-WmiObject -query "SELECT * FROM Win32_PerfFormattedData_PerfOS_System

[2016-11-14 14:56] martinlindhe commented on #40
Thanks for your input! I'll have a look at using the formatted data instead.

[2016-11-14 15:10] martinlindhe commented on #40
@pskiwi I made use of the value from Win32_PerfFormattedData_PerfOS_System which does look more as "seconds since boot" than the first value. It is currently awaiting review at https://github.com/martinlindhe/wmi_exporter/pull/41

In hindsight I suspect the unformatted value might be a timestamp of system startup rather than a "seconds since boot" which the old msdn docs indicates.

[2016-11-14 18:49] brian-brazil commented on #40
What the docs say if what you get once you perform the documented calculations, so lots of rates etc are actually counters - which is just what we need for Prometheus. We should generally be using the raw data.

[2016-11-15 07:41] martinlindhe commented on #40
@brian-brazil i reworked the patch, now it is an increasing counter with actual seconds since start up.

[2016-11-15 07:45] brian-brazil commented on #40
Just to clarify, what is the raw value that is being exposed?

[2016-11-15 07:51] martinlindhe commented on #40
The raw value is a timestamp, it seems:
SystemUpTime

We now calc uptime since start with:

(Timestamp_Object(current time) - SystemUpTime(startup time)) / Frequency_Object (1 nanosec)

If we just want a timestamp of time start, we could instead:

(Timestamp_Object(current time) / Frequency_Object (1 nanosec)

[2016-11-15 07:55] brian-brazil commented on #40
Yes, exporting it as a timestamp is best if that's the way it is exported.

If someone wants uptime they can do `time() - metric` on the Prometheus end, and reboots can be counted  with `changes(metric[1h])`.

[2016-11-15 07:55] martinlindhe commented on #40
Okay, new patch incoming!

[2016-11-15 08:09] martinlindhe commented on #40
Reworked. Now it converts the Windows timestamp into a unix timestamp.
Should we use another type than gauge now?

[2016-11-15 14:30] martinlindhe commented on #11
More notes:

### To get all sql server instances, run
`New-Object -TypeName Microsoft.SqlServer.Management.Smo.Wmi.ManagedComputer | ForEach-Object {$_.ServerInstances}`

### to query a instance ("MSSQLSERVER" is the instance name):

`Get-WmiObject -NameSpace root\Microsoft\SQLServer\ServerEvents\MSSQLSERVER -list`
(i get "Access denied")

### to find available classes
`Get-WmiObject -NameSpace ro

[2016-11-15 16:49] carlpett commented on #11
Looks like there are quite a few different wmi classes in play here... Here's an (slightly obfuscated) exerpt from one of our machines:

[code]

Then there are a few about the SQL Agent as well:
[code]

Potentially we could use a query such as this one to enumerate all the counters: `SELECT __class FROM meta_class WHERE __class LIKE 'Win32_PerfRawData_MSSQL%'`. But the more I think about it, the m

[2016-11-15 16:52] carlpett opened #43 "Feature: Active Directory"
Already in progress, using the `Win32_PerfRawData_DirectoryServices_DirectoryServices` counters. This will just cover the "Active Directory - Directory Services" part of the Active Directory, not the web services etc (there are over 150 counters exposed by this class alone...)

[2016-11-16 07:37] carlpett commented on #43
The majority of the work is to map counters to metrics and labels. I've put my current status here: https://gist.github.com/carlpett/53083648d5f08a8d06a7e4f8e25aae25. Grateful for any input!

The documentation is pretty much non-existent, sadly. Still haven't found of what an "ATQ" is...

[2016-11-16 07:38] #40 closed

[2016-11-16 07:44] martinlindhe commented on #11
Currently I'm trying to make a minimal working sql collector:
* enumerate local server instances
* enumerate databases per instance (was thinking along the lines of the iis collector)
* exposing some trivial metrics for these
* trying to do all of the above without need of authentication, so it can be zero-conf. (not sure its possible)
* using the white/blacklist filter to select databases

* then

[2016-11-16 07:46] martinlindhe commented on #11
Also, there's this confusion (for me) about different services to speak to:
these all have wmi counters:
* SQL Server
* SQL Agent
* SQL Browser

[2016-11-16 07:48] martinlindhe commented on #11
And finally, SQL Browser is exposing some kind of autodiscovery on port 1434 (udp).

[2016-11-16 07:51] martinlindhe commented on #43
ATQ = Asynchronous Thread Queue, a type of performance counters
source: https://blogs.technet.microsoft.com/askds/2014/10/24/understanding-atq-performance-counters-yet-another-twist-in-the-world-of-tlas/

[2016-11-16 08:11] martinlindhe commented on #40
@pskiwi Resolved the issue. Exposed are now a timestamp from when system booted. You can then caluclate a "time since boot" with `
time() - wmi_system_system_up_time{instance="$instance"}` as you suggested in first post. Thanks for reporting this!

[2016-11-16 17:21] carlpett commented on #11
Some thoughts:
- Authentication should be fine, we're running the service as LOCAL SYSTEM by default, which should have access to all the counters (we should never be authenticating wíth the database itself this way)
- Getting the instances can probably be skipped by using wildcards in the WMI query

Regarding the services, the Server is the server parts, unsurprisingly :) The Agent is used to run

[2016-11-17 09:54] martinlindhe commented on #11
I pushed my work-in-progress branch to https://github.com/martinlindhe/wmi_exporter/tree/sql-server

I really don't know if/when I can finish it into a working state, if someone else wants to to take a stab at it, feel free!

[2016-11-22 11:33] alens opened #44 "Enable collector in addition to defafults"
is there a option, to install all the default collectors + the IIS as the optional ?

[2016-11-22 12:33] carlpett commented on #44
@alens Unfortunately not yet. The installed was modelled on how node_exporter works, but I want to fix this.

[2016-11-22 12:44] alens commented on #44
so i need to pass all wanted collectors in the ENABLED_COLLECTORS=os,iis,cpu...  ?

[2016-11-23 07:01] carlpett commented on #44
Presently yes, I'm afraid.

[2016-11-23 18:07] exceedio opened #45 "Proper use of volumeBlacklistPattern?"
I'm curious about the the proper use of volumeBlacklistPattern or examples when needing to exclude volumes that begin with "HarddiskVolume" (e.g. HarddiskVolume1, HarddiskVolume108, etc.) in the logical disk collector.

This is great work Martin.

[2016-11-24 05:48] carlpett commented on #45
Hi!
It should be sufficient to set the blacklist to `HarddiskVolume.+`, is that not working?
Are you seeing those volumes with disks not mounted anywhere?

[2016-11-29 18:49] exceedio commented on #45
Working perfectly.  I didn't notice the correct command line argument format.

[2016-11-29 18:49] #45 closed

[2016-12-09 18:52] bbigras opened #46 "msi "Installation failed" on Windows server 2003 64-bit"
I got these 4 events:

[code]

[code]

[code]

[code]

[2016-12-14 06:25] carlpett commented on #46
Hi @brunoqc!
Thanks for reporting, and apologies for the slow response, I'm travelling with poor internet access.
The error you're getting is a generic "something went wrong". Here are a few things to check:
1. Is there a pending restart? For instance a Windows update that hasn't finalized yet, or some other software installation?
2. How are you starting the installer? Commandline or gui?
3. Windo

[2016-12-14 14:46] brunoqc commented on #46
That is very possible. It's a server that doesn't reboot often.

I tried both.

Yes

I'll try to schedule a server restart tonight and test again tomorrow.

[2016-12-16 19:43] carlpett commented on #46
@brunoqc Did you manage to test the reboot?
In case that did not fix it, some more questions:
1. Does the server have any service packs installed?
2. Could you try the installation with logging enabled? `msiexec /i D:\wmi_exporter-0.1.1-amd64.msi /l*v D:\wmi_exporter-installer.log`

[2016-12-16 19:54] brunoqc commented on #46
No. Well I tried twice but I think I didn't use quotes the right way when running the at command. I'm trying again tonight.

Windows Server 2003 R2 with Service Pack 2.

[wmi_exporter-installer.log.zip](https://github.com/martinlindhe/wmi_exporter/files/658104/wmi_exporter-installer.log.zip)

[2016-12-16 20:10] carlpett commented on #46
@brunoqc Thanks! I found this in the logs:

So, we're using too modern features, basically. Are you having the firewall activated? If I recall correctly it was not on by default in those older versions. Maybe we should just skip installing the firewall rule for old versions? Alternatively we could have some installer flag for toggling it off.

I've build a custom msi without the firewall rule, cou

[2016-12-16 20:18] brunoqc commented on #46
No. The "Windows Firewall/Internet Connection Sharing (ICS) service" is not running.

Can you detect if it's activated with the msi?

It works!

[2016-12-16 20:19] brunoqc opened #47 "feature request: 32-bit msi"

[2016-12-16 20:32] carlpett commented on #46
Ok, great! Then there aren't other things that also break :) As for detection - msi:s conditions are pretty simplistic in themselves. I'll have to check the docs, but it would probably require building a custom dll for the installer and all the associated maintenance.
So, I'd probably rather provide a flag for those slightly older OSes than make the normal flow hard to understand. Seems reasonable

[2016-12-16 20:59] brunoqc commented on #46
Yes. A flag is fine.

[2016-12-20 20:39] carlpett commented on #47
Thanks for reporting! I've started work on this, but the AppVeyor build config inexplicably fails when fetching dependencies. Hope to make it work soon, but it is something of a black box, unfortunately.

[2016-12-22 06:49] carlpett commented on #47
@brunoqc It should now be working, but I don't have access to a 32-bit machine to test on. Could you try downloading the build from my branch and test it on your environment?
Here is the CI artifact url: https://ci.appveyor.com/api/buildjobs/3nrph4ec6ux3abol/artifacts/wmi_exporter-x86.zip

[2016-12-22 16:31] brunoqc commented on #47
The .exe runs. I get some metrics but I got errors:

[code]

[2016-12-22 21:01] carlpett commented on #47
Great that it starts at least! :) Which are the metrics that do work? Is this another Win 2003 system?

[2016-12-22 21:11] brunoqc commented on #47
Yes

[code]

[2016-12-22 21:38] carlpett opened #49 "ComputerSystem collector does not work on Windows 2003"
See #47 for context

[2016-12-22 21:40] carlpett commented on #47
Thanks! Alright, then it is not related to x86, but rather we probably query a WMI class that doesn't exist in Win 2003. I filed #49 to track this separately.
As a work around, you can disable the cs collector by passing the `collectors.enabled` flag.

As for the initial feature request, the PR #48 adds auto builds of x86.

[2016-12-24 16:48] #47 closed

[2017-01-05 08:32] danielcb opened #50 "Win7 system (amd64) "system collector .. (Invalid query )""
Hi,
just tried to run wmi_exporter on a win7 system. It works but I get a view error messages for failed queries similar to the ones in #47:

[code]

The version is a local build of the current master b4ca3412dd370be50d7f3608195bfe8b1f3aa7c8

Here are the working metrics:

[code]

[2017-01-05 08:38] martinlindhe commented on #50
Hi @danielcb
thanks for reporting!
Does the provided binaries from the release page show the same error?
The reason I am asking is because I've been developing the code mostly on Win7 x64, I've not seen this myself.

[2017-01-05 08:45] danielcb commented on #50
Yes. Same output. Do I need to start additional services or configure WMI somehow? Never used it before.

[code]

[code]

If I can help with any more debugging/testing or you need additional information about the system, just let me know. Thanks!

[2017-01-05 08:50] danielcb commented on #50
Just tested it on one of our VMs. There it runs without problems. Also Win7. So it looks like it's a problem with my local dev machine.

[2017-01-05 08:50] carlpett commented on #50
Could you try running this in Powershell? `Get-WmiObject Win32_PerfRawData_Tcpip_NetworkInterface`

One system related question/idea: Is the system language non-english?

[2017-01-05 08:56] danielcb commented on #50
[code]

Region and Keyboardlayout is set to Germany/German. Everything else is English. I have no idea of how to use PowerShell, just found Get-Culture:

[code]

[2017-01-05 08:58] carlpett commented on #50
Alright, so then the wmi class names may be localized... Could you post the output of this Powershell code:

[code]

[2017-01-05 09:05] martinlindhe commented on #50
Might be worth to note I was using a English Windows myself. Good detective work @carlpett

[2017-01-05 09:09] martinlindhe commented on #50
@danielcb wrote

No configuration should be needed to get it running locally. Just running the .exe should be enough for testing.

[2017-01-05 09:30] carlpett commented on #50
@danielcb Huh, weird. That should have resulted in a pretty long list... If we simplify the query to `Get-WmiObject -query "SELECT * FROM meta_class"`, do you get any output?

[2017-01-05 09:36] danielcb commented on #50
That returns a pretty long list, yep:
[code]

[2017-01-05 11:26] carlpett commented on #50
Thanks! Ok, so at least the `Win32_PerfRawData` class exists.
Looking around, it is apparently possible to disable these counters, though. Could you check this command as well:

[code]

Does the output contain `Disable Performance Counters`?

[2017-01-05 12:03] danielcb commented on #50
It just prints this table:
[code]

But the reg entries for PerfProc, PerfNet, and the others don't contain a "disable performance counters" key.

[2017-01-05 12:08] danielcb commented on #50
http://social.technet.microsoft.com/wiki/contents/articles/19374.windows-performance-monitor-unable-to-add-these-counters.aspx

A `lodctr /r` fixed it.

[code]

I have not the slightest idea why this was necessary. :( Thanks for your help!

[2017-01-05 12:57] danielcb opened #51 "silent install msi"
Hi,
it looks like the msi currently doesn't support /q* /quiet /passive flags for install/uninstall. Adding this would be nice for installs via configuration management tools like salt, ansible, ..

Since the installation doesn't need any manual intervention anyways I figure it could be added easily?

[2017-01-05 13:18] martinlindhe commented on #50
Great! Maybe some software that promised to "optimize windows" have disabled it?
I think it would make sense if we checked for this condition on startup and warned the user.
I'll reopen this bug in order to track that feature, helping us down the road.

[2017-01-05 14:35] danielcb commented on #50
Not that I know of, but maybe something that gets deployed via AD by IT.. :)

[2017-01-05 18:31] carlpett commented on #51
Hm, really? `/quiet` should be supported. Actually, I'm using it on our environment at work, deploying using Saltstack. And testing it with msiexec on my machine now, it seems to work as well.

What is your environment, and how does the problem show?

[2017-01-09 21:11] seanhoughton opened #52 "[featurerequest] Per-process information"
It would be useful to get a per-process (i.e. image name) value for each metric.

[2017-01-10 12:25] danielcb commented on #51
Sorry for the delay. Just tested it with [this msi](https://ci.appveyor.com/project/martinlindhe/wmi-exporter/build/job/17ym8bkaiv4t59rm/artifacts):
`msiexec /i /quiet wmi_exporter-0.1.2-amd64.msi`

This just opens the help screen for the msi (i.e. `msiexec /?`)

[2017-01-10 12:48] carlpett commented on #51
I think that is actually an invocation syntax error. The path is a parameter to the `/i` option, so they need to be together. Also, I've never managed to get msiexec to accept relative paths, only absolute. So, try this:

[code]

[2017-01-10 13:11] danielcb commented on #51
Ok, layer 8.. sorry and thank you! :)

[2017-01-10 13:11] #51 closed

[2017-01-20 14:16] pokemane opened #53 "Add "percent processor time" to CPU collector"
Currently, Percent Processor Time is in the `Win32_PerfRawData_PerfOS_Processor` struct but is not actually collected.  Is that something that can be added?  Judging by how the collector is laid out (I'm not super familiar with Go so I might be wrong) it looks to be a pretty simple addition.  Was it just omitted by accident in #26 ?

[2017-01-20 14:17] pokemane commented on #53
Meant to add-- According to the MSDN docs, Percent Processor Time is:

[2017-01-20 14:19] brian-brazil commented on #53
wmi_cpu_time_total should meet that need.

[2017-01-20 15:29] pokemane commented on #53
How so?  You either include the metric or have a continuous query or set of
queries to get a percentage instead of a number in the millions or billions
or more depending on uptime.  I understand the formula to do it but it's
hardly more efficient to not include it

On Jan 20, 2017 9:19 AM, "Brian Brazil" <notifications@github.com> wrote:

[2017-01-20 15:53] brian-brazil commented on #53
You need queries either way to get to this data.

[2017-01-20 15:56] pokemane commented on #53
I'm not sure I understand your point.  I know they would both need a queries, my question is about the relative cost on the collector vs on the prometheus instance.  Could you give an example of the queries I'd need either way, in case I'm missing something about the complexity of getting an instantaneous usage percentage from at least 4 different metrics?

[2017-01-20 16:16] brian-brazil commented on #53
I don't have a Windows system to hand, but it'd be similar to Linux: https://www.robustperception.io/understanding-machine-cpu-usage/

[2017-01-20 16:31] pokemane commented on #53
Alright, I followed that and am now getting negative CPU usage:
![image](https://cloud.githubusercontent.com/assets/1995662/22156948/83ead5d2-df03-11e6-8c73-cf92e15b1387.png)

Also, `100 - (avg (irate(wmi_cpu_time_total{mode="idle"}[5m])) * 100)` vs `avg (wmi_cpu_percentage)` is what I was talking about w.r.t. relative complexity.

[2017-01-20 16:51] carlpett commented on #53
One potential idea: Do you have more than one server with wmi_exporter installed? You are averaging over all instances, rather than a specific one. For comparison, I have `1 - avg(irate(wmi_cpu_time_total{instance="$Server", mode="idle"}[2m]))` in our dashboards (with Grafana templating filling in `$Server`).

Could you check what data is in prometheus for just `wmi_cpu_time_total{mode="idle"}` an

[2017-01-20 16:52] pokemane commented on #53
Nope, only one instance.

[2017-01-20 16:53] carlpett commented on #53
Ok, thanks. What are the specs of the instance - number of cores and version of Windows?

[2017-01-20 16:54] pokemane commented on #53
W7 enterprise, 40 cores.  (I know.. I don't ask questions when I get something like this where I work)

[2017-01-20 16:56] carlpett commented on #53
Hm, ok, I'll admit I haven't got anything like that to test on ;) But could you try to run the query on prometheus so we can look at the raw data?

[2017-01-20 17:00] pokemane commented on #53
I would, if my "graph" panel worked.  I updated recently, v1.4.1, and the "add graph" hasn't worked for me since.  Are you just looking for the returned series and a quick snapshot of what they look like?

[2017-01-20 17:03] carlpett commented on #53
Basically yes, just to see if the data seems unreasonable in itself (ie we are not interpreting the wmi output correctly). Doesn't need to be in the graph mode either if that is acting up, just raw query output might be enough.

[2017-01-20 17:07] pokemane commented on #53
yeah both the graphs and table isn't working properly at all (don't even have a query input) so here's the grafana table equivalent, columns are cores:

![image](https://cloud.githubusercontent.com/assets/1995662/22158173/028bd5e4-df09-11e6-8023-7f9b6924229c.png)

complete with ascii-sorted columns because no zero padding :D

[2017-01-20 17:09] pokemane commented on #53
Ah, makes sense now:

https://github.com/prometheus/prometheus/issues/2265

[2017-01-20 17:20] carlpett commented on #53
Hm, nothing obvious there. Could you try modifying your Grafana query like this `100 - (avg (irate(wmi_cpu_time_total{mode="idle"}[5m])) by (core) * 100)` and using bar mode instead of lines? I'm expecting to see that a single core is responsible for the weird jumps.

[2017-01-20 17:24] brian-brazil commented on #53
This also requires a rate, as that's how the raw data is exposed.

[2017-01-20 17:32] pokemane commented on #53
@carlpett it's actually a bunch of them, weirdly enough:
![image](https://cloud.githubusercontent.com/assets/1995662/22158710/7d50a262-df0b-11e6-8468-6cf9e583871d.png)

@brian-brazil how is it exposed as a rate?  From the docs I was under the impression that it was a 0-100% depending on wmi's own sampling rate, using a similar process to the one you linked to above.

[2017-01-20 17:50] brian-brazil commented on #53
All WMI stats come with equations to use to convert them into what their actual name is. So in the case of a CPU percentage that's going to mean taking a rate.

[2017-01-20 17:57] pokemane commented on #53
So it's returning a cumulative percentage...?  I'm sorry, I understand how
the rate applies on the query side for cpu total time to convert to an
instant value, but not how it applies for an instantaneous value to stay an
instantaneous value.  The total time returns a cumulative counter, which
matches the name, why would the present utilization be different?

On Jan 20, 2017 12:50 PM, "Brian Brazi

[2017-01-20 18:01] brian-brazil commented on #53
matches the name, why would the present utilization be different?

It's no different. The percent utilisation is exposed as a cumulative counter.

[2017-01-20 18:04] pokemane commented on #53
Oh, so it doesn't match its name where the former does.  I understand
now... Sorry for the confusion.  In that case, yeah, it's a pretty useless
stat and only saves a single math operation and not even an aggregator.

On Jan 20, 2017 1:01 PM, "Brian Brazil" <notifications@github.com> wrote:

The total time returns a cumulative counter, which
matches the name, why would the present utilization be d

[2017-01-20 18:16] carlpett commented on #53
Regarding the graph, I'm unsure how to interpret this.
@brian-brazil - could this be an artifact from the `irate` of some sort? I've seen similar things when using `deriv` and `predict_linear` when there are very large changes in a value between two scrapes, which would be expected, but I'm not sure how `irate` could cause this? Especially the negative spike preceeding the positive one.

[2017-01-20 18:20] brian-brazil commented on #53
It's not unusual to see oddness of this sort due to various races.

[2017-01-20 19:23] pokemane commented on #53
If the entirety of the CPU raw data collector is basically cumulative counters, then this issue doesn't propose anything new except what amounts to a macro for some simple math.

[2017-01-20 19:23] #53 closed

[2017-01-24 15:44] waqark3389 commented on #52
+1

[2017-01-24 17:15] carlpett commented on #52
Sorry, missed this one! This is probably not going to happen dynamically, however, since it will likely result in a very high number of metrics. As an example, on my laptop I currently have several hundred processes, many with names dependent on startup-order, etc. Process ids have a similar problem in that they are not possible to correlate over process restarts, etc.
One possibility would be to

[2017-01-25 18:06] waqark3389 commented on #52
@carlpett @seanhoughton Since checking this exporter out I have started to use scollector exporter.
https://github.com/tgulacsi/prometheus_scollector

Its pretty simple to set up, you need to stick this on the windoze machine: http://bosun.org/scollector/ and the exporter itself can run anywhere, just point scollector at the exporter.
It has a regex match for name of process you would like to moni

[2017-02-14 14:53] christian-hofstetter opened #54 "[featurerequest] Add PercentProcessorTime Counter"
Hi there,

Would it be possible to add the PercentProcessorTime counter to the CPU collector?

Sample query:
select PercentProcessorTime from Win32_PerfFormattedData_PerfOS_Processor where Name = '_Total'
“PercentProcessorTime,” as appears above, is the percentage of the time the processor is busy doing non-idle threads.

Cheers,
Christian

[2017-02-14 14:55] carlpett commented on #54
Hi,
This was discussed recently, see #53.

[2017-02-14 15:00] #54 closed

[2017-03-03 12:53] mikenowak opened #55 "Feature: Services states"
Hi Martin,

It would be useful to get Windows Service states exposed in a similar fashion that node_exporter exposes systemd states.

i.e. (example from node_exporter
[code]

Some good information at the below urls:

https://msdn.microsoft.com/en-us/library/aa394418(v=vs.85).aspx
https://github.com/bosun-monitor/bosun/blob/master/cmd/scollector/collectors/processes_windows.go

[2017-03-03 13:19] carlpett commented on #55
Hi @mikenowak,
Thanks for the suggestion. I had a look, and it looks like it should be quite straightforward. Initially, I'd say we would only expose name and state, the other properties seem less useful. Do you agree about that?

[2017-03-03 13:25] mikenowak commented on #55
Hi @carlpett,

Agreed, yes - thats pretty much all that I am after.

[2017-03-03 13:49] carlpett commented on #55
Alright, I have a working prototype now. Some choices made:

- I went with the service name instead of the display name, which makes it somewhat less easy to parse (`name="igfxcuiservice1.0.0.0"`...), but I think there is no guarantee that a display name is unique.
- I'm lower-casing everything
- I expose the start_mode as a separate metric, which should make for easy alerting if something isn't i

[2017-03-03 14:11] martinlindhe commented on #55
Hi @mikenowak and thanks for the suggestion. Our excellent @carlpett is already on the ball, reviewing his patch now!

[2017-03-03 16:01] #55 closed

[2017-03-03 16:03] martinlindhe commented on #55
@mikenowak Could you give v0.1.3 a spin? We just pushed this release containing the service collector

[2017-03-04 01:46] mikenowak commented on #55
Good day @martinlindhe, @carlpett,

thank you for quick turnaround - truly outstanding!

I verified this to work on Win2013 R2 and Win2016 Server.

Here is one more question as my knowledge is incomplete because so far focused on gathering metrics rather than visualising data.

Is there any real benefit of the node_exporter approach (which exposes all the possible statuses for a given service and

[2017-03-04 02:03] dimitertodorov opened #57 "TLS authentication?"
Hi,

Have you thought about implementing TLS for the endpoint. I really would prefer to secure the metric endpoints at least with a client cert check.

I know it breaks the normal Prometheus pattern of doing authentication with a proxy.
But on Windows, we really don't have many options for lightweight proxy setup.

Shouldn't be too hard to implement, I could even take a look at writing a patch may

[2017-03-04 08:24] martinlindhe commented on #57
It certainly won't be hard to implement, the Prometheus stance is the following

Source: https://prometheus.io/docs/introduction/faq/#why-don%27t-the-prometheus-server-components-support-tls-or-authentication?-can-i-add-those?

[2017-03-04 08:37] martinlindhe commented on #57
@brian-brazil Could you weight in on this please? Is it a reasonable idea to add tls support to this exporter given it is more hassle to set up a reverse-proxy in Windows land than in Linux? I've no strong opinion either way.

[2017-03-04 09:18] carlpett commented on #55
@mikenowak It does not matter, as far as I am aware. Prometheus will consider any absent series as zero. However, the case could be made that it would be clearer to always expose all the series. It would also ensure that any other consumers of the endpoint (I'm aware of at least one other client) work the same, as I'm not sure if this is required behavior. I'll give it a fix.

[2017-03-04 10:14] carlpett commented on #55
@mikenowak We merged an update which exposes all the states/start modes for clarity

[2017-03-04 11:43] brian-brazil commented on #57
We have no opinion on this for 3rd party integrations from the Prometheus side, we've just chosen not to do this ourselves and also none of us are Windows experts.

[2017-03-04 11:54] martinlindhe commented on #57
@brian-brazil Okay thanks!

@dimitertodorov A patch is welcome if you want to have a go at this :-)

[2017-03-04 11:56] #44 closed

[2017-03-04 11:56] carlpett commented on #57
@martinlindhe I'd be a bit wary of taking this on, for much the same reasons as in the docs. Maybe a very simple reverse proxy could be written side-by-side instead?

[2017-03-04 12:00] martinlindhe commented on #57
@carlpett So your saying we should ship a reverse proxy binary with the project, or as a separate project?

[2017-03-04 12:05] carlpett commented on #57
I think it should be a separate project. (This)[https://github.com/inconshreveable/slt/] looks like it might fit the bill with some extension for authentication?

[2017-03-04 12:05] brian-brazil commented on #57
Have you looked at caddyserver?

[2017-03-04 12:07] carlpett commented on #57
@brian-brazil Hadn't heard of it, but at first glance it looks just the thing!

[2017-03-04 12:08] martinlindhe commented on #57
caddyserver is providing binaries on https://github.com/mholt/caddy/releases, i would +1 that :)

so maybe we can resolve this just by adding some docs on how to use caddyserver for this?

[2017-03-04 15:21] dimitertodorov commented on #57
Thanks for pointing me to Caddy Server. That seems like a good option. I will take a look at it.
If I can get it working with this exporter I will share a doc.

[2017-03-04 16:21] mikenowak commented on #55
Thanks, confirmed to work as expected.

[2017-03-04 20:12] martinlindhe commented on #57
Please do!

[2017-03-04 21:34] dimitertodorov commented on #57
At its most basic a Caddyfile like this does the trick. With wmi-exporter binding on 127.0.0.1:9182
Could also do basic auth, but seems to me like TLS is a more secure option.
[code]

[2017-03-04 22:00] martinlindhe commented on #57
@dimitertodorov Excellent!
I made a wiki based on this over here: https://github.com/martinlindhe/wmi_exporter/wiki/TLS-authentication

[2017-03-04 22:00] #57 closed

[2017-03-05 09:24] carlpett commented on #57
@dimitertodorov Does your case need the `browse` and `ext` statements there? They enable file listings for the working directory where you start caddy, which could leak a lot of sensitive data depending how/where you start it (consider for example if you start it from the root of C:, anyone with access to the endpoint can then download your private key, as well as a lot of data from the Windows di

[2017-03-16 16:44] jimliming opened #60 "network collector (net.go) uint32 -> uint64"
**BytesReceivedPerSec**, **BytesSentPerSec** within **Win32_PerfRawData_Tcpip_NetworkInterface** are uint32.

https://msdn.microsoft.com/en-us/library/aa394293%28v=vs.85%29.aspx

This seems to cause rollover when collecting from large, 10Gb+, interfaces. **BytesTotal** is uint64 and works fine.

I've been looking around for an alternate wmi path to expose this information as uint64, but nothing ha

[2017-03-16 21:58] jimliming commented on #60
egh, that link is to perfformatted data.

PerfRawData seems to be uint64 all the way down.

Closing this for now, the issue must be something else.

[2017-03-16 22:49] jimliming commented on #60
Looks like the issue is net.go is defining most of the items as uint32, similar to the above link. Changed all uint32's in Win32_PerfRawData_Tcpip_NetworkInterface struct to uint64 is working great.

seem reasonable? Further down it looks like that was the original intention.

[2017-03-17 10:08] carlpett commented on #60
Hi!
Thanks for reporting this. Indeed it looks like the data types are uint64, so it should be enough to just change the types in the `Win32_PerfRawData_Tcpip_NetworkInterface` struct. If you feel like submitting a PR, that would be great! Otherwise we'll try to get to it as soon as possible.

[2017-03-17 18:13] carlpett commented on #60
Fixed in #61, thanks!

[2017-03-17 18:13] #60 closed

[2017-03-17 18:40] carlpett commented on #60
The initial release of this failed to build due to a broken url. v0.2.2 should be finished shortly, including binaries.

[2017-03-17 18:42] carlpett opened #62 "Installer fails to download binaries due to broken links"
The url to wix-binaries.zip periodically changes due to new releases of WiX. This currently breaks the installer build. I've contacted Rob Mensching (project lead) and asked about stable urls. If that cannot happen, we'll need to figure out some way to get the latest url.

[2017-03-18 11:33] martinlindhe commented on #60
Glad this got sorted out. I guess the microsoft docs are incorrect then? Over here, they are listed as 32bit:
https://technet.microsoft.com/en-us/security/aa394340(v=vs.80)

[2017-03-18 12:15] carlpett commented on #60
@martinlindhe Hm. It is possible they changed the type in later versions (the docs you linked seem to be for WinXP?). We should test this on both older versions of Windows, as well as different bitnesses. Also, what about the 32-bit version we ship?

[2017-03-18 12:29] martinlindhe commented on #60
Hm. Is it for XP? All i could deduce from the article is the metrics was introduced in XP / Windows Server 2003. Is there some newer docs showing them as 64bits?
If  the struct had different sizes for a 32-bit Windows, one might think they would all be 32-bit.
I just hope we don't need to have 2 versions of this :-)

[2017-03-18 13:33] carlpett commented on #60
Ah. No, on closer reading, this is the docs for Visual Studio v8.0, also known as Visual Studio 2015.
I checked my local machine, and it reports the types as `uint64` (`gwmi Win32_PerfRawData_Tcpip_NetworkInterface | gm -MemberType Properties | select Definition`).

So, I dug into the WMI library we're using, and [this line](https://github.com/StackExchange/wmi/blob/master/wmi.go#L308) seems to in

[2017-03-18 13:49] martinlindhe commented on #60
Okay, sounds good. I've been meaning to try the project out on some older Windows versions, I'll try to remember checking this out when I'm at it.

[2017-03-22 08:14] oliverpool opened #63 "/metrics URL suddenly stopped working"
Hi,
first of all, thank you for this great tool!

I just have a very strange situation: on 1 of my servers, the export suddenly stopped working (everything was fine for more than a month!).

I tried to update to the latest version (0.2.2), but the issue is still appearing.

## Issue

When I launch the following command:
[code]
the `/health` URI returns `{"status":"ok"}`, but the `/metrics` does no

[2017-03-22 08:48] oliverpool commented on #63
Or could it be possible to add some king of timeout for the query:

http://www.yusufozturk.info/tag/powershell-wmi-hang-timeout

[2017-03-22 09:08] carlpett commented on #63
@oliverpool That is very strange. The only thing common there is whether they use counters that are "RawPerf" or not. Could you check if the `service` collector works (added in 0.2, and also not a raw type)?

For the record, the `/health` endpoint always replies with ok as long as it can start the http server, so it doesn't diagnose the WMI querying capabilities.

[2017-03-22 09:09] carlpett commented on #63
Also, could you try issuing this in a Powershell terminal?

`Get-WmiObject Win32_PerfRawData_Tcpip_NetworkInterface`

[2017-03-22 10:25] oliverpool commented on #63
`service` works fine (also with `os` and `cs`)

It was to be sure that the http listener was working

It hangs (forever in comparison with another server which replies in a couple of seconds)

[2017-03-22 10:46] oliverpool commented on #63
I'm trying the WMI Diagnosis Utility utility described here: https://social.technet.microsoft.com/Forums/windows/en-US/65bb62e8-7816-4206-8417-033025394086/wmi-query-hanging?forum=winserverManagement (but it takes quite a while).

It seems to be a bug in windows (and you can't do much about it :-), the only feature that the `wmi_exporter` could have, is to have some kind of timeout in case of such

[2017-03-22 11:26] christian-hofstetter commented on #63
@oliverpool I had similar issues when upgrading to 0.2.0 and having the services metrics enabled. The issue was on the Prometheus side where the --storage.local.memory-chunks was set too low.

[2017-03-22 11:27] carlpett commented on #63
I'm wondering if this could be related to the problem reported here: https://github.com/martinlindhe/wmi_exporter/issues/50#issuecomment-270630204.

If the diagnostics utility doesn't come up with anything, try the command mentioned there.

[2017-03-22 12:34] martinlindhe commented on #63
@oliverpool on which windows version are you seeing this? Also, 32 or 64-bit?

[2017-03-22 13:38] harmw opened #64 "missing IIS metrics"
Enabled the IIS collector, but on _some_ of my machines the only metric that involves iis are these:

[code]

Other machines *do* show the expected information, like this one:
[code]

Any pointers on how to approach this?

[2017-03-22 13:43] oliverpool commented on #63
`lodctr.exe /r` didn't solve the issue

The WMI Diagnosis Utility seems also to be hanging.

[2017-03-22 13:43] carlpett commented on #64
Sorry about that!
The first test would be to run `Get-WmiObject Win32_PerfRawData_W3SVC_WebService` in a powershell terminal. That will show you if the counters are actually available on the machine.

[2017-03-22 13:45] harmw commented on #64
Ah, thanks. Well, they are not. So what's next 👍 And how come this happens on _some_ of my machines, given all are provisioned/deployed in the same manner (using Ansible)?

[2017-03-22 13:49] carlpett commented on #64
I'm not really sure how this would happen if they are all created identically. There might be some race condition somewhere in the Windows installation, maybe? Hard to guess. But [this article](https://blogs.technet.microsoft.com/askperf/2014/08/11/wmi-missing-or-failing-wmi-providers-or-invalid-wmi-class/) has a number of troubleshooting steps.

[2017-03-22 13:59] harmw commented on #64
apparently, simply restart `Windows Management Instrumentation` resolved the issue

[2017-03-23 12:13] #64 closed

[2017-03-23 16:02] martinlindhe commented on #63
@oliverpool Does restarting the Windows Management Instrumentation service resolve this issue?

[2017-04-05 07:29] oliverpool commented on #63
This thread apparently solved the issue: http://www.tek-tips.com/viewthread.cfm?qid=1747388

So everything is back to normal: thanks everyone for the help!

---

It was a bug in windows (and we can't do much about it), the only feature that the `wmi_exporter` could have, is to have some kind of **timeout to detect such failure instead of hanging forever**. It could also display some error messages

[2017-04-05 08:17] martinlindhe commented on #63
@oliverpool thanks for updating us! Closing this as resolved then

[2017-04-05 08:17] #63 closed

[2017-04-07 14:31] franciscomorra commented on #46
Hi!
Is the flag included in the installer as of today? Dropbox link is dead

[2017-04-08 09:06] martinlindhe commented on #46
Hi @franciscomorra
I think the link that  @carlpett provided above on Dropbox only had extra logging enabled in order to track down this original bug. As far as i can tell, the flag hasn't been implemented yet.

[2017-04-08 09:21] martinlindhe commented on #62
I had a look around, and while WiX now seems to be on Github (https://github.com/wixtoolset/wix3) they don't provide binaries there.
They do provide binaries on their homepage, and exposed in this feed:

http://wixtoolset.org/releases/feed/v3.10

http://wixtoolset.org/downloads/v3.10.3.3007/wix310.exe

This doesn't seem to be packaged the same as the zip archive provided on codeplex though

[2017-04-08 09:42] carlpett commented on #62
Yes, Microsoft is closing down CodePlex, so everything is moving to Github. This is probably a work in progress, so let's wait a short while and see if they get their CI working with Github as well.

[2017-04-08 09:43] carlpett commented on #46
@franciscomorra I started working on the flag yesterday, however, due to the events in Stockholm, I was not able finish that work. It should be pretty straightforward once I have time to work on it, though.

[2017-04-09 07:20] carlpett commented on #46
@franciscomorra What was your use-case for the flag? Are you also using a version which does not support the Windows Firewall?
I just noticed that there is actually an option when creating the firewall to ignore errors. This would be a much simpler solution, but it would not provide for the use-case of not creating the firewall rule on versions of Windows which support it.

[2017-04-10 13:02] franciscomorra commented on #46
@carlpett Exactly, the error in Windows Server 2003 is the same as @bbigras
Right now i got it working with the .exe without installing as a service so the error must be on the firewall config of the .msi

[2017-04-10 14:00] #46 closed

[2017-04-20 08:51] simonwillcock opened #69 "Enhancement: IIS App Pools"
It would be nice to expose IIS App Pool metrics that are available from `Win32_PerfRawData_APPPOOLCountersProvider_APPPOOLWAS`

I think [this project's collector](https://github.com/bosun-monitor/bosun/blob/master/cmd/scollector/collectors/iis_windows.go#L115) would be a pretty useful starting point, but I've never used Go or WMI before until looking into this, so I can't say for sure.

I will try

[2017-04-20 09:15] carlpett commented on #69
Hi!
Sure, that would be a good addition, especially AppPool recycles and worker process failures can be interesting to monitor.
Regarding labeling the sites, I'm not sure I see the use-case? A site can only have a single AppPool, right, so it wouldn't be a useful dimension to split on? It is not exposed by the IIS counters we currently look at, I think.

[2017-04-20 09:21] simonwillcock commented on #69
Yeah the use case I was envisaging was being able to query stats for all sites in a single app pool - eg
something like this in prometheus:
**exposed metrics:**
[code]
**query:**
`wmi_iis_current_connections{pool="search"}`

[2017-04-20 12:29] simonwillcock commented on #69
I'm having a crack at adding the App Pool counters in the meantime. I just found the collector-generator.. amazing! Would you suggest that I add these to the existing IIS generator? Or keep them separate?

I'm thinking it would probably make sense to combine them?

[2017-04-20 12:52] carlpett commented on #69
Ah, I see your point, and that would indeed be good for when you share app pools over several sites. I did a bit of reading, and I couldn't find any mapping between sites and app pools in WMI so far, but if it is there, it would be good.

I think it would be a good idea to keep them in the IIS collector.

[2017-04-21 06:07] simonwillcock commented on #69
I've had a try at making a pull request for this - #70

I'm not sure if this is the best way to go about combining them, but hopefully you can take it from there and just do any necessary tidying. I've tested this on my server and it appears to work well!

As for the pool label on sites, yeah I haven't found anything either yet, unfortunately. You can get the merge the two data sets manually doing

[2017-04-29 15:55] carlpett commented on #69
Closed via #70

[2017-04-29 15:55] #69 closed

[2017-05-02 03:40] jeremyje opened #73 "Feature Request: CPU Temperature"
It'd be nice to get metrics from https://msdn.microsoft.com/en-us/library/aa394493(v=vs.85).aspx

[2017-05-02 08:44] carlpett commented on #73
Hi!
That would be interesting for sure. However, I don't seem to get any values in those WMI classes. Do your systems report anything there?

[2017-05-04 05:47] carlpett opened #74 "wmi_system_system_up_time changes without reboot"
Last night, `wmi_system_system_up_time` changed on a handful of my machines, even though they were not rebooted. The changes were very small, for example `1484753057.401196` to `1484753057.4005969` (difference `0.0005991`).

We should investigate why this happens, since it triggers reboot alerts even for such very small changes.

Also, the name should probably be changed, since it is not actually

[2017-05-04 06:12] brian-brazil commented on #74
By any chance was this in a VM of some form? We have seen such things on the Unix side, which turned out to be a virtualisation issue.

[2017-05-04 07:46] carlpett commented on #74
They are VMs indeed. I was aware of clock skew in VMs in general, but wouldn't have expected it to affect the timestamp of booting... But I guess it depends on how the underlying source is implemented.

[2017-05-04 07:56] martinlindhe commented on #74
If we end up changing the metrics name, i think that warrants a 0.3 version bump (semver).
Apart from that my first guess was some ntp change being broadcast to the machines, but brians vm idea might be more relevant

[2017-05-04 08:44] brian-brazil commented on #74
@juliusv @superq What were the details of the nodes ye had with `node_boot_time` changing? There's reports of a similar issue on Windows.

[2017-05-04 08:50] SuperQ commented on #74
The problem is related to the Microsoft HyperV time sync feature.  It sends a signal from the hypervisor to hard-step the clock every 5 seconds.  This causes the kernel and any NTP client to become very confused.  On Azure, there's no way to disable this on the hypervisor side, on Linux we have a [workaround](https://gitlab.com/gitlab-com/infrastructure/issues/1531).

[2017-05-04 09:03] carlpett commented on #74
This is not on HyperV, though. These machines are on OpenStack with KVM.

I checked NTP, and there was no clock adjustment from w32time during that time, because that was my first guess.

[2017-05-08 14:16] frankie64 opened #75 "no msi"
Hi Martin,

your wmi_exporter works fine. but after govendor build, I got only the wmi_exporter.exe. What must I do to get an wmi_exporter.msi. Or, can I config the behavair of wmi_exporter.exe via parameter, or config-file?

thx
Frank

[2017-05-08 14:23] carlpett commented on #75
Hi @frankie64!
The installer is built using the `installer/build.ps1` script. You can use that to build it locally, and check the AppVeyor configuration for some notes on how it is called.
Alternatively, you can start wmi_exporter with a number of flags on the commandline to customize its behavior. Try `wmi_exporter.exe -help` to get a listing of the available flags.

Hope this helps!

[2017-05-09 09:53] frankie64 commented on #75
Hi Carl,

thx for quick answer. I try to create a wmi_exporter. the build.ps1 stop after a while mit errormessage: wmi_exporter.wxs(36) : error LGHT0103 : The system cannot find the file 'Work\wmi_exporter.exe'.
in folder installer\Work I found a folder not a file wmi_exporter.exe.

do you have an idea?
~Frank

[2017-05-09 11:00] carlpett commented on #75
Hi,
Hm, that is odd. How did you invoke build.ps1? In our automated builds, we do this:
`.\installer\build.ps1 -PathToExecutable .\wmi_exporter.exe -Version $Version -Arch amd64`

This assumes that the `PathToExecutable` parameter points to an existing .exe file, which you get from your `go build`.

[2017-05-10 05:36] frankie64 commented on #75
Hi,

Sorry, I missunderstand the Paramter PathToExecutable. I give him only the Path ;-(

thx
Frank

[2017-05-10 05:36] #75 closed

[2017-05-22 14:25] vmati opened #76 "Download link in Readme.md"
Please add link to release page in readme.md file (https://github.com/martinlindhe/wmi_exporter/releases).

[2017-05-22 17:17] #76 closed

[2017-05-22 17:18] martinlindhe commented on #76
Hi @vmati ! Thanks for your suggestion, I've updated the readme

[2017-05-22 20:30] bbigras opened #77 "memory leak?"
I use the latest version and it's using more ram over time. Once it was at about 500 megabytes. I'm not sure if it's a leak. Maybe the memory is reserved but not really used.

Not sure which go_memstats_  I could check for that.

[2017-05-24 07:52] martinlindhe commented on #77
Hello @bbigras and thanks for reporting!
I'll  try to reproduce this and look more into it.

Which collectors did you enable, the default ones?

[2017-05-24 12:19] bbigras commented on #77
Only the default ones I think. I just installed the msi. Windows Server 2016 Standard (64 bits).

![image](https://cloud.githubusercontent.com/assets/24027/26402742/7ca21206-4059-11e7-9c8c-4f44dc9b8a25.png)

[2017-05-24 13:20] chrisgraf opened #78 "Feature Request: SMART-values"
the SMART values should pr provided by WMI according to
https://exchange.nagios.org/directory/Plugins/Operating-Systems/Windows/NRPE/check_smartwmi-SMART-Monitoring-for-Windows-by-using-builtin-WMI/details

that would be great!

[2017-05-25 07:57] martinlindhe commented on #78
This should be doable! Thanks for the suggestion.

[2017-05-25 14:30] carlpett commented on #77
I've spent a while looking at this today. Easily reproduced with some load generator tool to do lots of scrapes, and our production installations have grown to a couple of hundred megabytes as well.
However, it is less easy to pinpoint what is actually leaking. I did a fair amount of experimenting with pprof, but couldn't make any particular sense of the data I got back.

I wrote a little test har

[2017-05-25 14:34] brian-brazil commented on #77
Have you tried pprof? https://www.robustperception.io/analysing-prometheus-memory-usage/ are the Unix instructions, may require adding the import to the code.

[2017-05-25 14:57] carlpett commented on #77
@brian-brazil Yep, I remembered reading your blog post a few weeks back so I re-read it (thanks!), and a few others, this morning. Didn't really get any results that made sense to me, though. I can see _lots_ of allocations within client_golang, expfmt and net/http, but those are cleaned up nicely after GC.

[2017-05-25 14:59] brian-brazil commented on #77
If you can share the svg I can take a quick look, preferably from a production instance that's gotten big.

[2017-05-25 15:06] carlpett commented on #77
Exposing my lack of pprof competence: you mean there is a way to get a dump without recompiling with the pprof endpoint? Otherwise I only have some profiles the I have generated locally, I'm afraid.

It seems to take a couple of weeks/months for the leak to go into the hundreds of megabytes with "normal scraping".

[2017-05-25 15:09] carlpett commented on #77
I think there may be a native memory leak. I added output from Windows measure of used memory, and while Go's Memstats are more or less constant after a while, the OS' view of the world is different. Here's some output from the testing:

[code]

(That's quite a bit of memory churn... 10 GB for 4400 scrapes)

[2017-05-25 15:10] brian-brazil commented on #77
You need to recompile.

[2017-05-25 15:14] carlpett commented on #77
Ok, as I thought then. Since it takes quite a while for it to amass, I'll try to run a couple hundred thousand requests on my local machine then and get the dump when it is done. Should hopefully be equivalent, but without the month of waiting.

[2017-05-25 16:48] carlpett commented on #77
@brian-brazil While we're waiting (21k reqs done...), what output do you want? `inuse_space`?

[2017-05-25 17:22] brian-brazil commented on #77
The default inuse_space

[2017-05-25 20:16] carlpett commented on #77
After ~68k requests, the RSS is at ~32 MB. This would correspond to about 9.5 hours of scrapes in my production environment (30s interval), so still quite a way to simulate weeks or months...

Turns out I don't have graphviz on this machine, but I've dumped the .dot output [here](https://gist.github.com/carlpett/2745309f15fe63b9e6b03a8d943cae92). http://www.webgraphviz.com/ works decently as a web

[2017-05-26 11:41] brian-brazil commented on #77
Nothing stands out to me there. Maybe run it a bit longer and compare the two?

[2017-05-27 09:11] carlpett commented on #77
I've deployed the build with pprof to one of our instances, so let's have a look at what it looks like after the weekend.

[2017-05-30 07:02] carlpett commented on #77
@brian-brazil See attached file. The output is even less understandable to me in this run. The last dump was taken a few moments ago, and the resident size is now reported as 96 MB by Windows.

[pprofs.zip](https://github.com/martinlindhe/wmi_exporter/files/1037469/pprofs.zip)

[2017-05-30 09:13] brian-brazil commented on #77
That needs the binary to be useful. Can you load them up and do a "top10" in the CLI for each?

[2017-05-30 10:16] carlpett commented on #77
[code]

[2017-05-30 10:24] brian-brazil commented on #77
That looks steady, the last one caught a scrape I'd guess. Smells like a leak outside Go.

[2017-06-06 16:09] MattMencel opened #80 "Feature Request: VM Performance Counters"
VMware Tools adds "VM Processor" and "VM Memory" counters to the Performance Monitor.

The full list can be found here: https://rvdnieuwendijk.com/2012/06/19/use-performance-monitor-to-get-vm-performance-statistics/

I looked up the path to some of these in Performance Monitor and they appear like this:

`<PARAM NAME="Counter00002.Path" VALUE="\VM Memory\Memory Active in MB"/>`

Can these be polle

[2017-06-06 19:58] carlpett commented on #80
Hi,
Thanks for the idea! It is indeed possible. I did a quick dig on a vmware machine I have access to, and the classes are `Win32_PerfRawData_vmGuestLib_VMem` and `Win32_PerfRawData_vmGuestLib_VCPU`. Its getting a bit late here to do it tonight, but I'll see if have some time tomorrow!

[2017-06-07 20:01] carlpett commented on #80
Pull request #81 created. The new collector is not part of the default collectors, so you'll need to enable it using the `-collectors.enabled` flag, but please try it out!

[2017-06-10 11:59] #80 closed

[2017-06-10 12:03] martinlindhe commented on #80
@MattMencel Please reopen if you discover issues with the vmware collector. I've pushed a new release v0.2.4 to supply binaries with this feature, which can be downloaded at https://github.com/martinlindhe/wmi_exporter/releases/tag/v0.2.4

[2017-06-15 11:20] pazitzik commented on #11
these are some sql counters:
BatchRequestsPersec
ConnectionResetPersec
LoginsPersec

[2017-06-23 11:56] carlpett commented on #77
As an update, I've just deployed a version on a few of my machines with the fix suggested in the above referenced issue on StackExchange/wmi. I'll let it run over the weekend, and if it looks good, I'll push my branch.

[2017-06-26 09:50] carlpett commented on #77
So, I restarted the service on another node at the same time to get a comparison. The patched version is now at ~36 MB, while the unpatched one is at ~359 MB. So I'd say it is working :)

Will submit a PR later today.

[2017-06-26 19:03] #77 closed

[2017-06-26 20:50] bbigras opened #83 "Is Windows 2000 supported?"
I got this error on Windows 2000 SP4 (32-bit):

![image](https://user-images.githubusercontent.com/24027/27559678-734b88cc-5a8f-11e7-892b-3dbfdbeb95a2.png)

[2017-06-27 07:17] carlpett commented on #83
Hi,
Unfortunately, no. As of Go 1.3, [Windows 2000 is no longer supported by Go](https://groups.google.com/forum/#!topic/golang-dev/e0ImSCtHbcg).

[2017-06-27 07:17] #83 closed

[2017-06-29 08:31] jazzhanns opened #85 "Feature Request: IIS HTTP Status"
Hi,

I have a feature request to extend the WMI Exporter to expose metrics capturing the following:

- The total amount of 4** HTTP Status return codes received from a site for a given HTTP call

- The total amount of 5** HTTP status return codes received from a site for a given HTTP call

I know at the moment you expose the total amount of HTTP calls for a given type e.g GET. I was thinking it wo

[2017-06-29 09:26] carlpett commented on #85
Hi,
Yes, I would also love to have this! However, as far as I am aware, this is not available through WMI :( I will do some extra digging, but I believe this is something that is not possible.

Regarding the throughput, this is something that you can get using PromQL: `rate(wmi_iis_sent_bytes_total[1m])`. Does this work for you?

[2017-06-29 12:38] jazzhanns commented on #85
Hi,

Thanks for replying so quickly and for providing me with the throughput query! Hopefully there will be something to capture the status codes :)

Just as a side note, I was reading this article about monitoring IIS - in particular the section regarding URI cache metrics:

https://blog.serverdensity.com/monitor-iis/

And saw that it mentioned some metrics that are featured as part of this servi

[2017-06-29 14:55] carlpett commented on #85
Cache metrics seem to originate from this class: `Win32_PerfRawData_W3SVC_WebServiceCache` (None of my servers (2012/2016) have the one you referenced, also the "PerfFormattedData" classes are massaged by Windows a bit, so we prefer the "PerfRawData" ones). This should definitely be possible to add!

Also, I found this class: Win32_PerfRawData_W3SVCW3WPCounterProvider_W3SVCW3WP. It does not give u

[2017-06-29 15:22] jazzhanns commented on #85
That's perfect! Thanks for looking into it, it's very much appreciated :)

Just out of curiosity, when do you think this could be added to the exporter? (I appreciate that there are other responsibilities you have!)

[2017-06-29 18:14] carlpett commented on #85
Taking a look at it now. It's not too complicated adding new things - almost all of the effort is figuring out which counters are actually interesting, which ones should be just different labels of the same metric, how to name them, etc.

The major snag right now is figuring out what the difference is between the two classes, actually. Both of them export cache-related counters of the same name. `

[2017-06-29 20:02] carlpett commented on #85
Okay, so I have a prototype of this now. There are _a lot_ of counters, and with some overlap as I mentioned above. For example `wmi_iis_requests_total{method,site}` which is for a site (resetting with the IIS server), and  `wmi_iis_worker_requests_total{app}`, which is per AppPool worker (resetting each time the AppPool worker is recycled).

I managed to go against the official best practices wit

[2017-06-30 07:38] jazzhanns commented on #85
Thanks for the update and for adding this to the exporter!

 Did you find out the difference between the Win32_PerfRawData_W3SVCW3WPCounterProvider_W3SVCW3WP and Win32_PerfRawData_W3SVC_WebServiceCache cache's? It's quite interesting that they don't add up to each other! And I agree - if there is data already captured by one of the services, we should ignore the same overlap elsewhere - just to le

[2017-06-30 20:02] carlpett commented on #62
This was fixed by #84! :cake:

[2017-06-30 20:02] #62 closed

[2017-07-02 07:05] yosefy opened #87 "addidig custom metrics"
may be we could re-use influx telegraph model of adding queries:
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/win_perf_counters

so user may add missing wmi metrics without changing the code?
what d u say?

thanks

**Example:** from (telegraf github)
Generic Queries
  [[inputs.win_perf_counters.object]]
    # Processor usage, alternative to native, reports on a per core.
    O

[2017-07-02 07:56] yosefy commented on #33
+1
it would solve all the missing stuff :)
for example i need to get something form event log.
this feature doesn't exist in wmi_exporter and may not happen soon
so we will just run some powershell and put a metric there

thanks

[2017-07-02 12:40] JorritSalverda opened #88 "Feature request: garbage collection metrics"
According to https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/performance the 2 performance counters to monitor for issues related to garbage collection are:

- % Time in GC
- \# Total committed Bytes

Is it possible to expose those 2 performance counters through the wmi exporter?

[2017-07-02 22:44] martinlindhe commented on #88
From the linked document alone it's not obvious these metrics exist in WMI. In fact, the document doesnt mention WMI at all, but of "Event tracing for Windows". I've no idea if that is yet another metrics system for Windows.
Could you confirm the metrics are indeed available over WMI? If not, I am not sure the feature request fits with the current scope of this collector.

[2017-07-02 22:46] martinlindhe commented on #87
I agree, it sounds really useful! @carlpett do you have any input?

[2017-07-03 05:11] carlpett commented on #88
I think this would be the class `Win32_PerfRawData_NETFramework_NETCLRMemory` (there are a whole bunch of related classes, just replace Memory with Data, Networking, Exceptions, Interop, Jit, Loading, LocksAndThreads, Remoting or Security) . Implementing this would probably be similar to the per-process metrics being done in #79, in the sense that we'll need to do some filtering to avoid exposing

[2017-07-03 05:16] carlpett commented on #87
I'm a bit split. While this would be very flexible and thus useful, most of the work of adding a new set of WMI counters is the data massaging, conversions and labeling logic, which you wouldn't be able to control with this approach.
Maybe it would be a better use of time to improve the collector generator and otherwise make it easier to contribute?
That said, with some careful design consideratio

[2017-07-03 19:03] higels opened #89 "CPU collector blocks every ~17 minutes on call to wmi.Query"
We've deployed the wmi-exporter on a number of our Windows systems running Server 2012r2 standard. This was a version built several months ago with Go 1.8.

These systems typically push 20-30 Gbps of traffic and have 24 hyperthreads. There is generally plenty of room on half of these threads.

Having deployed the exporter, we observed that every 17-18 minutes (independent of when the exporter was

[2017-07-03 20:01] martinlindhe commented on #89
Is the 2012r2 servers fully patched, especially I think there are some WMI related patches that is not security related so maybe have not been applied? Google turns up some stuff, like https://support.microsoft.com/en-us/help/3103616/wmi-query-doesn-t-work-in-windows-server-2012-r2-or-windows-server-201

If you have the ability, is the issue reproducible in Windows Server 2016, or Windows 10?

[2017-07-03 20:17] higels commented on #89
The tests I ran on the 2 CPU VM were all Windows 10 Pro. The issue is far less pronounced there; this might be because it has way fewer CPUs to poll.

And yes, definitely fully patched. That specific hotfix was present on the 2012r2 server I was using to repro.

Looking at a few 2016 systems, the issue was also present there.

[2017-07-03 20:25] martinlindhe commented on #89
Thanks for your quick response! The os collector has been around for a while now and this is the first report of this kind. There was some additions to the os collector released in 0.2.3. Perhaps testing the 0.2.2 release could at least rule out those changes.

So, what you're seeing is around every 17 minutes, the prometheus scrape makes the "WMI Provider Host" process spin up, ?

When you were r

[2017-07-03 20:45] higels commented on #89
Re: the VM: it's idle and is running on my desktop. The debug log output for a run over a longer period of time is attached.

And yes, that is correct. Every 17 or so minutes, the poll of the CPU collector takes longer than expected, wmiprvse.exe spikes up in utilisation.

I'll try to catch it in procmon next time it happens.

To be clear, this seems to be due to the CPU collector rather than the

[2017-07-03 22:55] higels commented on #89
Procmon suggests that wmiprvse.exe is doing something completely different for those runs which take longer, but that wmi_exporter is not doing anything different in constructing the query.

A normal run finishes in about 40 operations whereas the stalled ones spend 3 seconds reading a whole bunch of registry keys (starting in
HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Perflib\_V2Providers)

[2017-07-04 10:18] martinlindhe commented on #89
Okay, that's reassuring for us, but I do understand it's not helping you.
Least effort would appear to be to disable the cpu collector then.
If you wish to delve deeper, it could be possible to disable parts of the cpu collector, to try to identify if a particular metric triggers the metric.
@carlpett do you have any input on this?

[2017-07-04 11:56] carlpett commented on #89
Hm, quite disturbing... @higels What services/Windows features do you have enabled on the servers? Were those also present on the Windows 10 VM, or was that a mostly blank OS?
Did you notice if this was wholly based on time, or is it also dependent on scrape frequency? That is, if you scrape twice as often, does the blocking happen twice as often as well?

I found this troubleshooting tip, which w

[2017-07-04 17:16] carlpett commented on #89
@higels I've been tinkering a bit with my own systems now to see if I've simply been missing this, but I cannot seem to reproduce it. Tested Win 10, Server 2012 and Server 2016, so I think there must be something specific in your setup that is required to trigger it. Would be most interesting to know more!

[2017-07-04 19:08] higels commented on #89
The VM is just a pretty normal Parallels Windows VM. It has some domain admin tools installed and the Parallels integration utilities.

It is definitely based on time rather than request frequency; I can spam requests as fast as I like outside of that window.

I noticed that every time this issue occurred, I'd see an event like this in the WMI event viewer bucket thing (I tidied it up a bit to mak

[2017-07-05 05:35] carlpett commented on #89
Well, you are at least the only one observant enough to notice it :)
One thing that would be interesting to test would be if this happens with other WMI clients. Could you try calling `while($true) { Measure-Command { Get-WMIObject Win32_PerfRawData_PerfOS_Processor }; sleep 30 }` in a Powershell prompt and see if that also seems to hang every 17 minutes? If it does, does this also happen if you u

[2017-07-05 11:59] carlpett commented on #89
Actually, I _do_ see it on my local machine. Its just much less pronounced that what you see @higels. Running that powershell snippet, every 16 minutes, the cpu scrape took ~1 second, instead of a few tens of milliseconds.
This leaves us with two questions:
What is happening, and why does it only seem to affect the cpu collector?
Why does it take so much longer time on your systems? I've tested th

[2017-07-05 17:32] higels commented on #89
I've left this:
[code]

running on my VM for a few hours and it's pretty clear that every 946 iterations, the job takes roughly 3 seconds, so I'm guessing whatever is triggering this leaves 950 seconds between runs.

I'm running that on an unloaded production class 2012r2 system now. Let's see what happens.

The daemon that pushes the traffic on the prod systems interacts with WMI every second (in

[2017-07-06 20:13] eduardohki opened #91 "Wrong flags in Usage helper text"
I was trying to manually run `wmi_exproter.exe` with custom options, because I wanted the port to listen at 9100 (like node_exporter).

However, the flag listed in the command-line usage wasn't working, issuing the error `flag provided but not defined: -addr`:

[code]

So I found out that it needed to use two hyphens (`--addr ":9100"`) instead of one (`-addr ":9100"`), for every option.

So I thin

[2017-07-06 20:21] carlpett commented on #91
Hm, no, the flag is not `-addr`, but `-telemetry.addr`. I'm surprised `--addr` would work, did it actually start listening on that port, or was the flag ignored?

There _is_ a problem with using dots in flags when executing from Powershell, though, which is unfortunate. It stops parsing at the dot, so you need to do `"-telemetry.addr" ":9100"` if starting from Powershell.

[2017-07-06 20:21] carlpett commented on #91
On testing on my system, I cannot get `--addr` to be accepted. What version are you using?

[2017-07-06 20:23] eduardohki opened #92 "Error Installing MSI in Windows Server 2016"
Hi,

The Windows Installer found an error while installing the MSI Package, issuing the following error:

![image](https://user-images.githubusercontent.com/7414593/27931143-96277328-626f-11e7-9558-1c5d4dd2db97.png)

So I can only cancel the installation and quit.

PS: It doesn't happen in earlier versions, only in 2016

[2017-07-06 20:30] eduardohki commented on #92
Note: Actually no service 'wmi_service' was ever installed.

[2017-07-06 20:38] eduardohki commented on #91
Sorry, I inserted the wrong text here (I tested a lot of options).

here is the correct one (`-telemetry.addr`):
[code]

Using  `--telemetry.addr` it works:
[code]

[2017-07-06 21:06] eduardohki commented on #91
Well, I think that the problem with using dots in flags when executing from Powershell should be at least present in the Usage text, it would prevent a lot of trouble IMO.

Thanks!

[2017-07-07 08:00] carlpett commented on #91
I've considered if we should actually just change the flags. The current ones were initially copied from node_exporter, but the gains from having a similar pattern are probably quite small.

It should be noted that this is only a problem in powershell, though. No other command line parser in Windows is affected.

[2017-07-07 08:17] carlpett commented on #92
We'll need the msi logs to troubleshoot this. Uninstall the package first, if the installation succeeded, then run `msiexec /i <absolute path to .msi-file> /l* c:\msi.log` and upload the msi.log file as a gist.

Also, what edition of Windows Server 2016 are you using? Any particular lock-downs using GPOs or similar?

[2017-07-07 18:57] eduardohki commented on #91
hello @carlpett

I confirmed the problem with powershell.

IMO this PowerShell "problem" could be stated in the Usage text as a warning to the user.

Thanks!

[2017-07-07 19:29] eduardohki commented on #92
We found out that the "WMI Service" was disabled on the server ¬¬
After enabling it it worked fine.

My apologies and thanks for your time!

[2017-07-07 19:29] #92 closed

[2017-07-07 20:57] martinlindhe commented on #91
I agree with @carlpett we could simply change the flags to get rid of this issue.

[2017-07-10 20:08] higels commented on #89
I think we'll have to chalk this one up to weirdness in Perflib. I'll see if I can open a bug with Microsoft, it definitely seems like bad and undesirable behavior, amplified by a few orders of magnitude by how we're interacting with WMI.

I've tried a few different things to see if it's possible to reduce the impact of this which might be useful to someone down the line:
HKEY_LOCAL_MACHINE\SOFTWA

[2017-07-12 11:56] carlpett commented on #89
@higels Thank you very much yourself, a very thorough investigation! If you do get any information back from Microsoft, that would also be very interesting.

I guess we'll close this, as it appears there is not much we can do from what we know now.

[2017-07-16 06:48] z3rogate commented on #33
+1

[2017-07-16 08:55] carlpett commented on #52
This is fixed in #79!

[2017-07-16 08:55] #52 closed

[2017-07-16 09:32] carlpett opened #94 "Improve documentation/help strings"
Currently the only documentation we have (apart from the code) is at best a link to MSDN with the fields exposed by WMI. While documentation can be hard to keep up to date, I believe it would make it easier for new users to get started with the exporter.

There are three areas I think we can improve:
- Collector docs in the repo, linked from the main README. Initially this could simply be the TYPE

[2017-07-16 10:19] #43 closed

[2017-07-17 04:32] bbigras commented on #52
Is there a simple way to use the `collector.process.processes-where` flag or do I need to create the service myself? I don't seem able to add arguments to the wmi-exporter service.

[2017-07-17 06:33] carlpett commented on #52
Ah, no, that is something we did not think about. Sorry about that. If you know your way around `sc.exe`, that is probably the easiest way short-term, or going into regedit and changing the parameters there.
We'll have to add some "other options" parameter to the msi, I guess.

[2017-07-18 10:52] #85 closed

[2017-07-18 11:18] #91 closed

[2017-07-19 07:39] carlpett opened #96 "Change flags to be Windows friendlier"
The dotted flags we currently use (`-collectors.enabled` etc) don't play nice with how Powershell tokenizes stuff, so users need to quote the flags (`"-collectors.enabled"`). (See also #91)
Since starting the exporter from Powershell is a pretty standard use-case, platform coherence and compatibility seems more important than imitating other (primarily Linux-focused) parts of the ecosystem.

One s

[2017-07-19 11:07] sandersaares commented on #73
https://github.com/openhardwaremonitor/openhardwaremonitor reports useful hardware stats and appears to do some of it through WMI queries. Perhaps this would be a useful source of inspiration.

[2017-07-19 12:15] martinlindhe commented on #96
I have not tired, but maybe we can just overwrite flag.CommandLine, as set here:
https://github.com/prometheus/common/blob/master/log/log.go#L72

documented here: https://golang.org/pkg/flag/#pkg-variables
` CommandLine is the default set of command-line flags, parsed from os.Args.`

[2017-07-19 12:17] martinlindhe commented on #96
Otherwise I also think it's better to not do changes in prometheus.
If we cannot solve this, we should open a bug on prometheus/common about our use case.

I also noted their logger had notes about syslogging not working on windows, something that would be beneficial if we could get wired up, too.

[2017-07-19 13:40] carlpett commented on #96
Just read this on the Prometheus blog for the 2.0 series:

So, this seems we can just move along with the rest then :)

[2017-07-20 09:33] carlpett commented on #73
@sandersaares I had a quick browse through the code, and as far as I can tell, they don't use WMI for actually getting temperatures etc, but only for probing what hardware is installed? They do register a custom WMI provider as well, which I couldn't see what they actually used for, though.
Did you see any concrete usage of WMI to get the temperatures that I missed?

[2017-07-20 10:08] sandersaares commented on #73
No, I just quickly rifled through the code and saw some WMI but I also did not see too direct of a connection. Guess it is no good then.

[2017-07-20 13:06] genzo0101 opened #97 "cannot scrape metrics on network drive"
I would like to scrape metrics on usage of a network drive. I tried wmi_exporter but it only exposes local drives. In my understandings, Win32_LogicalDisk, Win32_MappedLogicalDisk are required to scrape network drives but wmi_exporter does not currently support these.

I also thought of using helper script but wmi_exporter also does not support a function like textfile-collector from node_exporter

[2017-07-20 13:18] carlpett commented on #97
This seems simple enough, the class Win32_MappedLogicalDisk doesn't appear to have anything unexpected in it.

I'm a bit surprised that you do not see the disk already, though. On my machines mapped disks are returned by the existing logical disk query. What version of Windows are you running?

[2017-07-22 13:53] genzo0101 commented on #97
I am using Win Server 2012 R2. Do you mean you can see the disk that is mounted via network mapped to a drive letter with wmi exporter in a default configuration?

[2017-07-22 17:36] carlpett commented on #97
Sorry, turns out I checked the wrong thing. `Win32_LogicalDisk` does contain mapped drives, but we actually use the underlying `Win32_PerfRawData_PerfDisk_LogicalDisk` class, which does not.

Sadly it looks like there is no "PerfRaw" class for the mapped logical disk, either. We prefer to use those classes, since they often contain less manipulated data. We'll have to consider using the mapped dis

[2017-08-01 15:18] MattMencel opened #98 "Feature Request: Collect FSRMQuota Data"
Is it possible to add the ability to collect the FSRM quota data?  We messed around with the commands a bit and this seems to be the command.

`Get-WmiObject -ComputerName SERVERNAME -Namespace root/microsoft/windows/fsrm -Class MSFT_FSRMQuota`

This is what the results look like...
[code]

The fields I think would be needed would be PSComputerName, Path, Size, and Usage.

If you need any more inf

[2017-08-03 19:51] lubyou commented on #33
+1

[2017-08-03 19:55] martinlindhe commented on #33
Hi all :-) Please use the emoticons to add "me too", the +1 comments only add spam to the subscribers

[2017-08-03 19:58] lubyou opened #99 "The wmi_exporter service should have a description"
Hi,

The wmi_exporter service should have a description, and the display name could possibly be changed to something more friendly, for example "Prometheus WMI exporter".

Thank you

[2017-08-03 20:16] carlpett commented on #99
Good points. Will add to the next release! :)

[2017-08-04 10:57] Keleir commented on #89
@carlpett

Excuse me, Can you give me some solution about Hyper-V Monitoring with WMI_Exporter ? I am doubtful whether it can do this. I have do a research about [**Hyper-V WMI API**](https://msdn.microsoft.com/library/hh850319.aspx), does it can included into wmi_exporter's collector moudle?

Thanks a lot !

[2017-08-04 11:13] carlpett commented on #89
@Keleir It would indeed be possible to write such a collector. You should open a separate issue, though, rather than using an old one.

[2017-08-04 12:22] sandersaares opened #101 "Feature request: Export Hyper-V CPU usage"
CPU usage of Hyper-V virtual machines does not appear on any metrics exported by the WMI exporter - the CPU time used by virtual machines is counted under "idle". It would be desirable to also see Hyper-V CPU metrics.

Potentially relevant: https://blogs.msdn.microsoft.com/tvoellm/2008/07/14/how-to-get-processor-utilization-for-hyper-v-via-wmi/

See also: https://stackoverflow.com/a/36005302/2928

[2017-08-04 12:50] nnadig-ebsco opened #102 "import cycle not allowed during build"
C:\Users\Administrator\go\src\github.com\martinlindhe\wmi_exporter>govendor buil
d +local
import cycle not allowed
package github.com/martinlindhe/wmi_exporter
        imports flag
        imports errors
        imports runtime
        imports runtime/internal/atomic
        imports unsafe
        imports runtime
Error: exit status 1

Need help in resolving this.

[2017-08-04 13:11] martinlindhe commented on #102
That seems odd!
Which go version are you using? (type `go version`) to find out.

By the way, we also provide binaries for all releases here: https://github.com/martinlindhe/wmi_exporter/releases

[2017-08-04 13:17] nnadig-ebsco commented on #102
I am using 1.8.3
go version go1.8.3 windows/386

I got the project code using go get command that was mentioned.

[2017-08-04 13:24] martinlindhe commented on #102
I'm also using go 1.8.3. Compiles successfully here.
I'm not sure how to resolve this issue.
If you just need to run the software, please use the provided release files instead.

[2017-08-04 13:32] nnadig-ebsco commented on #102
Hi,
I need to modify collectors for some customization and build the project, hence I need the source code. Can you share the zip file of the project you are running?
Thanks,
Nrupatunga Nadig
Sr. Site Reliability Engineer
EBSCO Information Services
10 Estes Street
Ipswich, MA 01938
617-653-4221
Email: nnadig@ebsco.com<mailto:tarchibald@ebsco.com>

From: Martin Lindhe <notifications@github.com<mail

[2017-08-04 13:41] martinlindhe commented on #102
I am using the git repository :-)
Have you had success compiling other golang software with your setup? It seems to be some problems with the installation of golang on your machine, but I am not sure.

[2017-08-04 13:49] martinlindhe commented on #101
Someone using Hyper-V, feel free to look into this one!

[2017-08-04 14:50] nnadig-ebsco commented on #102
When I take the code from git repo it gives the below error:
C:\Users\Administrator\go\src\github.com\martinlindhe\wmi_exporter>govendor buil
d +local
can't load package: package github.com/martinlindhe/wmi_exporter: no buildable G
o source files in C:\Users\Administrator\go\src\github.com\martinlindhe\wmi_expo
rter
Error: exit status 1

Thanks,
Nrupatunga Nadig
Sr. Site Reliability Engineer
EBSCO

[2017-08-04 14:54] martinlindhe commented on #102
I am sorry, I cannot reproduce your issue.

[2017-08-04 15:25] martinlindhe commented on #102
This error suggests you are not inside the project root.
When you say you take the code from git repo, did you download a zip file from this website, or used the instructions of the README?

If you followed the readme, there should be a exporter.go (and more files) in the current directory.
If you downloaded a zip, you might have accidentaly created additional sub-directories when extracting it.

[2017-08-04 15:27] martinlindhe commented on #102
Suggested way of using the git repository:
[code]

[2017-08-04 17:47] nnadig-ebsco commented on #102
I created a new workspace and set the go path to that new workspace and bingo no error..

govendor build +local returned no error but I don’t see wmi_exporter.exe in the current dir.

Where would this be built? And any log file that captures the build?

Thanks,
Nrupatunga Nadig
Sr. Site Reliability Engineer
EBSCO Information Services
10 Estes Street
Ipswich, MA 01938
617-653-4221
Email: nnadig@ebs

[2017-08-07 04:02] Keleir opened #103 "Feature Request: Monitoring for Hyper-V via WMI"
I have do a research about [**Hyper-V WMI API**](https://msdn.microsoft.com/library/hh850319.aspx) and [**Win32_PerfRawData**](http://wutils.com/wmi/root/cimv2/win32_perfrawdata/#Childs),
there also contains amount of performance data about Hyper-V, such as  `Win32_PerfFormattedData_HvStats_HyperVHypervisorVirtualProcessor`,
`Win32_PerfFormattedData_Counters_HyperVVirtualStorageDevice`,
`Win32_Per

[2017-08-07 07:52] carlpett commented on #103
Hi,
This is a duplicate of #101.

[2017-08-07 07:52] #103 closed

[2017-08-07 10:14] martinlindhe commented on #102
@nnadig-ebsco Assuming you followed the build instructions, you would end up with a wmi_exporter.exe in the same directory you invoked those commands.

I am confident that this issue is not related to the wmi_exporter project, and thus I am closing this.

[2017-08-08 14:26] Ajeyprabhu opened #104 "Service Failed to start - InSufficient privileges"
When I pass the arguments of iis or os, to execute the wmi_exporter-0.2.3-386.msi it works well, but when I pass the args as "process" it gives insufficient privileges error - Verify that you have sufficient privileges to start system services.

Please advise what is getting missed out (or) what should be the special privilege for the userid.

[2017-08-08 15:12] carlpett commented on #104
Are you running the service as a non-default user?

[2017-08-08 15:13] carlpett commented on #104
Also, the process collector was added in 0.2.6, so are you using the correct version there?

[2017-08-09 05:11] Ajeyprabhu commented on #104
Am running the service as a Admin user.

[2017-08-09 05:39] Ajeyprabhu commented on #104
0.2.6 worked out .. Thanks a lot, Carl ..

[2017-08-09 07:56] #104 closed

[2017-08-09 20:35] vbeausoleil opened #105 "Doc Request: Cannot get "-collector.process.processes-where" flag to work"
Hi,

Would it be possible to have a filter example for the "-collector.process.processes-where" flag? I can't seem to get it to work.

I get the following errors when I open localhost:9182/metrics

time="2017-08-09T16:32:16-04:00" level=error msg="[ERROR] failed collecting process metrics: <nil> Exception occurred. (Invalid query )" source="process.go:142"

time="2017-08-09T16:32:16-04:00" level=e

[2017-08-09 23:42] martinlindhe commented on #102
@nnadig-ebsco I must apologize for my harsh tone, It was not professional.
I have realized I had forgot to update the build instructions in the README. Indeed, following them along, no .exe was produced.

Please if you have the ability, give this a try, assuming powershell:

    go get -u github.com/kardianos/govendor
    go get -u github.com/prometheus/promu
    go get -u github.com/martinlindhe/

[2017-08-09 23:58] martinlindhe commented on #105
Indeed, this feature is pretty low level so an example would be good.

You can do something like

`.\wmi_exporter.exe "-collectors.enabled" "process" "-collector.process.processes-where" "Name='firefox'"`
or
`.\wmi_exporter.exe "-collectors.enabled" "process" "-collector.process.processes-where" "IDProcess=1128"`

The available columns are documented in https://msdn.microsoft.com/en-us/library/aa3

[2017-08-10 00:13] #99 closed

[2017-08-10 00:22] martinlindhe commented on #94
This is a good idea!

This I think we should definitely do, at least expand with some example command lines, as was brought up in #105

As far as I can remember from "documenting" fields myself (or rather, adding the actual WMI field names"), the MS documentation can be a bit hard to parse, and sometimes we've seem to have discovered the docs aren't fully accurate. I would prefer to just refer to

[2017-08-10 03:05] martinlindhe commented on #78
I started work on this, but we need to resolve https://github.com/StackExchange/wmi/pull/30 before we can finish this off, the issue is the library we are using for talking WMI lacks the support for the data type used by the SMART data values.

I will push the initial work, but it will lack most of the functionality with regard to SMART values as compared to
https://exchange.nagios.org/directory/P

[2017-08-10 03:12] martinlindhe commented on #78
Also, the WMI query seems to require admin rights, so you will need to configure the running account accordingly.
You can test your permissions using this query:

 `gwmi -namespace root\wmi -class MSStorageDriver_ATAPISmartData`

if it returns data, you should be able to use the "smart" collector of wmi_exporter

[2017-08-10 13:59] #105 closed

[2017-08-10 13:59] martinlindhe commented on #105
@vbeausoleil I hope the added example are useful, if not please reach out again!

[2017-08-10 14:29] nnadig-ebsco commented on #102
Hi Martin,
No worries. Thanks for the response. After I send an email, I tried it and its creating the exe in by bin dir. I had to issue install command after I build.

I have a question though:
We are trying to generate the metrics depending on custom counters we specify in a config files. For example: instead go iis.go having hard coded counter definitions and code for it, we want to read the co

[2017-08-10 14:42] vbeausoleil commented on #105
It works! Thank you for the quick reply @martinlindhe

Are there any plans to implement a similar filter feature for the service collector? If not, I might give it a shot when I have some free time.

[2017-08-10 15:43] martinlindhe commented on #105
Nothing planned at the moment, but if it is a useful feature then it would be very welcome!
It should be quite similar to what's already implemented in collector/process.go

[2017-08-10 15:47] martinlindhe commented on #102
Glad you got it working!
For custom metrics, there has been some discussin in #87 with some hints, but nothing implemented.
Especially @carlpett raised some concerns in https://github.com/martinlindhe/wmi_exporter/issues/87#issuecomment-312551368.

closing this issue since it is now resolved.

[2017-08-10 15:47] #102 closed

[2017-08-10 22:40] martinlindhe opened #110 "Add sha256sums.txt to releases"
Like https://github.com/prometheus/prometheus/releases/download/v2.0.0-beta.0/sha256sums.txt

Useful for http://scoop.sh/ or https://chocolatey.org/ (?)

[2017-08-11 08:25] carlpett commented on #96
I've been converting a few of the exporters in the Prometheus org to use Kingpin, so I'll do it here as well. With the double dashes, Powershell does not have the same parsing behaviour, so we'll be clear of the problems in #91 as well.
2.0 seems a bit aggressive, though, maybe 1.0? :)

[2017-08-11 09:48] martinlindhe commented on #96
Hehe, you are right. I was thinking 2.0 as in "prometheus 2.0", didn't reflect of our version numbering which would made more sense.

This is great news!

[2017-08-11 09:50] martinlindhe commented on #96
By the way, I haven't looked at if we need to do updates to be compatible with prometheus 2.0 (as in the exporter working with it), or if it is just api related internal changes.
I was thinking we should bump versioning to maybe 1.0 (or 2.0 to cause less confusion for end users?) when we are updated for prometheus 2.0

[2017-08-11 10:53] carlpett commented on #96
The exposition format is identical afaik, so we do not need to do anything there. I also do not think any other exporters plan any versioning bumps to indicate v2 compatibility.
I do think that we can consider ourselves stable enough for a 1.0 release pretty soon, though. After this flag change (which is a breaking change), I'm not aware of any other large changes we need to do. Agree?

[2017-08-11 11:06] martinlindhe commented on #96
The flags are breaking and warrants a major bump i think, yes. Okay, lets aim for a 1.0. Fixing the label

[2017-08-12 07:29] carlpett commented on #110
Looking at Appveyor's docs, it is not clear to me that we could achieve that exact layout, with all the file hashes in the same file. As far as I understand, the artifacts from AppVeyor are pushed as they are ready, and there is no synchronization point where we have access to all the files from all the builds in the matrix and can produce that file. @FeodorFitsner, is that correctly understood?

[2017-08-12 09:18] martinlindhe commented on #110
I suspected this was the case :-/ Yea, since our build is pretty small maybe we could scrap parallel builds.

[2017-08-12 09:48] carlpett opened #114 "Use common/log instead of golang log"
We should be using the `prometheus/common/log` package instead of the go stdlib `log`. `common/log` forwards to the Windows event log when running as a service, and also supports log levels.

[2017-08-12 09:50] brian-brazil commented on #114
That package is likely to change soonish, and the there's a good change the replacement won't support forwarding to the event log.

@fabxc

[2017-08-12 09:54] martinlindhe commented on #114
Thanks for the heads up @brian-brazil
Since we're on Windows, we do need a way to add entries to the event log.
Should we fork prometheus/common/log, or any better ideas?

[2017-08-12 10:16] carlpett commented on #114
Yeah, I replied to the thread on prom-dev about that.
Currently we are a bit broken due to a miscommunication earlier, so most logging doesn't really work. I feel we probably should just do a quick fix for the 20 or so logging calls we have so it working until we have a good replacement. It might take a few more weeks even after the discussions and base implementations are done before we have some

[2017-08-12 11:22] martinlindhe commented on #114
@carlpett Since we vendor, I think we should start there, and keep track of upstream https://github.com/prometheus/prometheus/pull/3061

[2017-08-15 23:00] bbigras opened #115 "process: invalid query"
wmi_exporter-0.2.7
Win 10 64-bit

[code]

[code]

[2017-08-16 15:07] martinlindhe commented on #115
I tried the same command on my dev machine, which is also Win10, x64.
For me, it is working correctly. I do not see the errors you are getting.

While I understand this might be frustrating, I am unsure how to assist you further.

Are you certain the given output was actually from the commandline you pasted?

[2017-08-17 01:55] bbigras commented on #115
I tried in powershell for notepad and firefox. It's weird that I don't have the same error message.
[code]

Note that my Windows is in french.

[2017-08-23 21:56] sim-brar opened #116 "Unable to compile source code into an executable"
Hi there,

I recently created a custom collector on wmi_exporter using your collector-generator tool. While this wasn't too difficult to figure out, I am unable to compile the source files and get the below error message:

`C:\Users\username\go\src\wmi_exporter-master\exporter.go:85: cannot use ch (type chan<- "wmi_exporter-master/vendor/github.com/prometheus/client_golang/prometheus".Metric) as t

[2017-08-24 03:04] martinlindhe commented on #116
Hi @trap167 and thanks for reaching out

It seems we have forgotten to update the collector-generator properly after some recent api changes in prometheus. Thanks for letting us know, looking into fixing it

[2017-08-24 18:44] trap167 commented on #116
Hi Martin,

Absolutely :)

WMI class: Win32_PerfFormattedData_PerfDisk_LogicalDisk

Collector code:

[code]

[2017-08-25 13:46] martinlindhe commented on #116
Hello @trap167

The code you posted compiles fine here, using the git master branch of wmi_exporter.
I cannot reproduce your issue.

[2017-08-25 18:46] carlpett commented on #116
I agree with @martinlindhe, something is off with the vendoring. What version of go are you running?

As an additional question, is there something you are missing in the existing `logical_disk` collector since you are generating a new one? Also, `Win32_PerfFormattedData_PerfDisk_LogicalDisk` is a "formatted" class, which means that the data is not the raw collected data, but has been massaged a b

[2017-08-30 21:17] trap167 commented on #116
Hi @martinlindhe and @carlpett,

I followed your advice and tried compiling with a clean checkout of wmi_exporter. This worked perfectly and I was able to begin collecting Win32_PerfFormattedData_PerfDisk_LogicalDisk metrics.

Here are my answers to your queries:

1) I am running go 1.9
2) The existing logical_disk collector works fine for most of our servers, except for those running Windows Serv

[2017-08-31 14:45] carlpett commented on #11
FYI, there is an mssql_exporter [here](https://github.com/awaragi/prometheus-mssql-exporter), which might make this issue obsolete.

[2017-09-01 11:17] martinlindhe commented on #11
@carlpett good find

I think  we better recommend users to check out https://github.com/awaragi/prometheus-mssql-exporter if this comes up. Closing

[2017-09-01 11:17] #11 closed

[2017-09-01 11:20] martinlindhe commented on #116
Hello @sim-brar

Please use installer/build.ps1 to create a .msi installer which registers as a service.

Closing this issue since it has been resolved

[2017-09-01 11:20] #116 closed

[2017-09-06 18:37] roiromanoclick opened #117 "Grafana ( and prometheus )"
I have some issue with calculation query with wmi\node exporters from Prometheus to grafana. I have a multi graph with wmi, and now I have more new Linux instances. How can I add the ” label_values (node_boot_time, name)” with the wmi together?

[2017-09-07 01:58] martinlindhe commented on #117
Hello @roiromanoclick

General prometheus usage questions belong elsewhere, see https://prometheus.io/community/

[2017-09-07 01:58] #117 closed

[2017-09-07 12:21] libbkmz opened #118 "Change [default] to [defaults]"
https://github.com/martinlindhe/wmi_exporter/blob/2f7a372429903a331e1bcf58444ff16da72a42f4/exporter.go#L172

Please change help message corresponding to source code. Now in help there is [default], but in source code it knows only [defaults]

[2017-09-07 12:25] martinlindhe commented on #118
Thanks for reporting this, fix incoming!

[2017-09-07 12:28] #118 closed

[2017-09-07 17:56] carlpett commented on #115
@bbigras Could you try making the same query outside the exporter?
The equivalent powershell would be `Get-WmiObject -Query "SELECT * FROM Win32_Process WHERE Name = 'notepad'"`

[2017-09-07 20:39] martinlindhe opened #119 "AppVeyor failing"
https://ci.appveyor.com/project/martinlindhe/wmi-exporter/build/359

@carlpett I thought this might be again issue with the wix url changing, but not sure anymore when reading the log. Any ideas?

[code]

[2017-09-07 22:37] bbigras commented on #115
`Name = 'notepad'"` doesn't work but `Name = 'notepad.exe'"` does.

[code]

[2017-09-07 23:47] martinlindhe commented on #115
Hm, this has me confused.
I do recall we tested this working without the .exe extension..
However, I now get the same result as @bbigras when doing the raw query. Win10 x64, English version

Could you help verify @carlpett, maybe we need to correct the examples in the doc?

[2017-09-08 08:08] carlpett commented on #119
Seems https://github.com/prometheus/promu/pull/77 introduced a new required option? Maybe we should be pinning our promu version to avoid this...

[2017-09-08 08:42] carlpett commented on #115
@bbigras Really weird. Could you try adding a log statement which outputs the query to collector/process.go?
Basically add `log.Println(q)` here:
https://github.com/martinlindhe/wmi_exporter/blob/94caf8ee61027bd02ae694353597741182b00829/collector/process.go#L183-L187

@martinlindhe You only get one firefox process due to matching exactly on `'firefox'`. WMI separates multiple instances of the same

[2017-09-08 09:15] #119 closed

[2017-09-08 09:23] martinlindhe commented on #119
Good find!
If you want, maybe add promu to the vendor folder?
Or just ignore this until it comes up next time, I'm hoping promu won't break like this again :-)

[2017-09-08 09:30] martinlindhe commented on #115
@carlpett Okay, that's good!

I am still confused as of what black magic makes wmi_exporter match on Name="firefox" (without .exe), but the same won't work as a raw query.

Finally, the error @bbigras is getting from doing this, I think it must be about some extra characters sneaking their way into his command. Like a newline or a space that shouldn't be there.

[2017-09-08 09:33] carlpett commented on #115
Hm, we actually use a different class, probably that is why. `Win32_PerfRawData_PerfProc_Process`, not `Win32_Process`. I misremembered, sorry.

Yeah, either some extra characters, or possibly there might be some localization issue? `'` or `"` might not be the ascii variants?

[2017-09-08 09:53] martinlindhe commented on #115
Ah, mystery solved! I confirmed Win32_PerfRawData_PerfProc_Process.Name does not have .exe

Right, the quote characters might also be to blame.

So @bbigras since you got the `Get-WmiObject -Query "SELECT * FROM Win32_Process WHERE Name = 'notepad.exe'"`
command running on the command-line, could you

1) verify that this also works (it should):
[code]

and then
2)

try (copy and paste) this:
[code

[2017-09-08 21:33] bbigras commented on #115
command 1 didn't work:
[code]

[2017-09-08 23:48] bbigras commented on #115
I don't have "Disable Performance Counters" in
`HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\PerfProc\Performance`.

[2017-09-08 23:49] martinlindhe commented on #115
Okay, more general quote from other source:

[2017-09-08 23:51] martinlindhe commented on #115
(Notes from https://kb.paessler.com/en/topic/3713-i-have-tried-a-lot-of-things-to-fix-my-wmi-what-else-can-i-try-to-avoid-reinstalling-windows, there is more suggestions for troubleshooting WMI there, especially about missing performance counters)

[2017-09-09 00:08] bbigras commented on #115
I ran:
[code]

and now `Get-WmiObject -Query "SELECT * FROM Win32_PerfRawData_PerfProc_Process WHERE Name = 'notepad'"` works.

but command 2 doesn't:

[code]

[2017-09-09 00:25] martinlindhe commented on #115
Okay, that's progress.

While reviewing your earlier comments, I notice that in the initial comment https://github.com/martinlindhe/wmi_exporter/issues/115#issue-250462661 you got the error `Demande non valide`,

while in https://github.com/martinlindhe/wmi_exporter/issues/115#issuecomment-322947330 you got `Classe non valide` (the WMI class was not available),

Now again in https://github.com/mar

[2017-09-15 17:03] martinlindhe opened #121 "tooling: use dep"
I've started the process of using [dep](https://github.com/golang/dep) for vendoring in some of my golang projects, and want to bring it up here.

Pros for using `dep` as compared to other solutions:
* Is on the way to becoming merged in `go`, possibly around go 1.10.
* `dep prune` removes unnessecary files from the `vendor` folder such as text files, making it smaller
* Many others, see the proje

[2017-09-16 10:59] carlpett commented on #121
I personally use `dep` as well for new projects. The main objection so far is that it isn't exactly fast at this point. But wmi_exporter doesn't have _that_ many dependencies anyway, so I don't think it will be much of an issue.
I don't have any strong feelings either way.

[2017-09-22 10:33] berlinsaint opened #122 "Windows Server 2008 Standard sp2 not working"
On my two 2008 Standar windows, wmi_exporter doesnt work . when listening the port, it doesn't deal any connections.

[2017-09-22 10:53] carlpett commented on #122
Hi @berlinsaint,
Can you reach the endpoint on localhost, or is it unresponsive there as well?
Do you get any output when running the exporter?

[2017-09-22 14:10] mikalais opened #123 "Malfunction: query processes with the same name returns one process."
E.g. I would like to enable process collector and specify a custom query:

`.\wmi_exporter.exe "-collectors.enabled" "process" "-collector.process.processes-where" "Name='firefox'"`

Even if there are 4 processes with the same name 'firefox', wmi_exporter returns metrics for only one of them.

[2017-09-22 14:19] martinlindhe commented on #123
To get all the processes, you need to change the where-clause to Name LIKE 'firefox%'

[2017-09-22 14:20] mikalais commented on #123
oh.. I tried ='%firefox%'. Shame on me. Thank you!

[2017-09-22 14:20] #123 closed

[2017-09-22 14:21] martinlindhe commented on #123
No worries, it has confused me too :-)

[2017-09-25 01:07] berlinsaint commented on #122
hi @carlpett  i can't reach the endpoint on localhost, and when i access the localhost:9182 , the console dosen't have any change, i check the netstat status, and it did listen the port 9182, very strange.
but on my another three 2008 professional Edition , they have no problem. i doubt that the exporter dosen't match the  2008 standard version.
-----------------------
another try is that i change

[2017-09-25 08:12] carlpett commented on #122
@berlinsaint Could you translate the error messages given in the screenshot, please?
But something is clearly going wrong here, and taking much too long time to do so. We should not let a query run for 1400+ seconds, or even 10+ seconds. So that will be a separate thing we should fix, but it is not the direct cause of your problems, I think.

[2017-09-27 06:58] berlinsaint commented on #122
the above chinese words means : “occur an accident， server running with failure”

[2017-09-28 06:03] roiromanoclick opened #124 "WMI Exporter - wmi iis worker request errors tatal"
Hi Marthin , i installed the latest ver(2.7) wmi exporter on my machines and i see only 4 status code (403,500,401,404) , why i didnt see 503 , 200, 499 ?
Thank you.

[2017-09-28 07:19] carlpett commented on #124
Hi @roiromanoclick,
These are the only error codes that IIS has counters for, sadly. You'll need to check the log files if you want all the actual responses. Check out [stream_exporter](https://github.com/carlpett/stream_exporter) or [mtail](https://github.com/google/mtail) to do log file metrics.

[2017-09-28 07:19] #124 closed

[2017-09-28 14:55] Gianlu opened #125 "Use configuration file"
Hi,
may you add a configuration file (perhaps YAML) in order to simplify the configuration on different systems?

Thanks and nice job!

[2017-09-28 15:00] carlpett commented on #125
Hi,
This is a duplicate of #87.

[2017-09-28 15:00] #125 closed

[2017-10-10 07:36] berlinsaint commented on #122
can anyone help me ?

[2017-10-11 12:48] carlpett commented on #122
Sorry, been traveling. Still, it is a very odd error, with very little to go on. Could you try running this in Powershell: `Get-WmiObject Win32_OperatingSystem`?

[2017-10-13 04:05] berlinsaint commented on #122
yes i run the command , and wait a long long time with not any output. how to solve it ?
![image](https://user-images.githubusercontent.com/10629930/31529890-d5f54722-b00e-11e7-872d-a94d4772df84.png)

[2017-10-13 06:59] carlpett commented on #122
Then you likely have some issue with the WMI system on your machine. You'll need to do some troubleshooting, you can take a look at [this issue](https://github.com/martinlindhe/wmi_exporter/issues/50#issuecomment-270630204) for a starting point.

[2017-10-23 13:15] roiromanoclick opened #129 "How to monitor with WMI exporter -SignalR collector ?"

[2017-10-25 07:30] carlpett commented on #129
@roiromanoclick Could you clarify what you are asking?
Do you want to hook into a generic SignalR hub? In general, I think what you want to do is instrument your application directly (https://github.com/andrasm/prometheus-net). Exporters are more geared towards closed-source systems that you have no way to instrument directly.

[2017-10-26 18:41] marcseguin opened #130 "installation procedure shall include configuration of the firewall"
it would be nice if the installation procedure would include the configuration of the windows firewall and opens it for the ports or exe.

[2017-10-27 08:26] carlpett commented on #130
@marcseguin It _should_ already do this... (Specifically [this line](https://github.com/martinlindhe/wmi_exporter/blob/master/installer/wmi_exporter.wxs#L37) if you know WiX)

Do you have some system details from where this does not work?

[2017-10-27 10:18] marcseguin commented on #130
I installed it on a Windows 10, 1709 built when I had the issue. I repeated now on a Windows Server 2016 where it worked!
I will make another attempts on Windows 10 - even if this is not necessary the target environment ;-)

[2017-10-27 10:58] carlpett commented on #130
Ok, let me know how it goes :) Perhaps the firewall isn't enabled for the profile (private/domain/public) of the network you are on?

[2017-10-29 11:15] lindhor commented on #87
Configurable counters sounds like a very good idea! The limitation of having to use the generator WMI Exporter rather than configuration is the only reason we are currently looking into Telegraph instead. If we can help in some way let me know.

[2017-10-30 10:42] carlpett commented on #87
@lindhor I've done a few rounds of this, and can't really come up with something I'm satisfied with. So some inspiration and/or discussions of use-cases would be very valuable!

Here are the things I think should be solved by a configurable source, in order to replace the coded approach we currently use (and which I think other "dynamic" implementations currently don't do?):
- *Only query a class

[2017-11-10 19:23] lindhor commented on #87
Hello Martin,
Sorry for late reply, I’ve been really busy the last couple of days.
In addition to your list it would be great if it was possible to:
- Have a way to specify that all or specified available performance monitor counters in a group should be polled, i.e. all CPU counters. Similar to what you can select in the Performance Monitor GUI. I’m not sure if that is the same as you describe in

[2017-11-10 22:16] icanit opened #131 "IIS Collector fails, when Application has more than one worker processes."
If IIS App was multiple worker processes for one application, then wmi_exporter fails to collect (exporter returns http 500), because it tries add metrics for each worker with same app name label.

One of solutions could be to use pids as additional label for worker's metrics to separate them, as i implemented here: https://github.com/icanit/wmi_exporter/commit/6e54dc59d54d272e02883850b6cdda073bf4

[2017-11-11 06:49] martinlindhe commented on #131
Looks like a good solution to me, but I would hope for @carlpett to have a say, since he originally wrote the iis code in https://github.com/martinlindhe/wmi_exporter/commit/bf8c9228fbebc93d6bbd8f080190abd592fe110d

[2017-11-13 07:07] carlpett commented on #131
I'm not really a fan of pid labels, but I guess there isn't much else to distinguish the workers... One alternative would be to pre-aggregate across all workers, but that isn't very nice either.
I'll have a look at the PR!

[2017-11-13 09:41] #131 closed

[2017-11-14 13:45] Passpes opened #133 "this installation package could not be opened contact the application vendor to verify"
Greetings folks,

So I tried the following command after installing "wmi_exporter.exe" to enable iis and processes monitoring:
msiexec /i "C:\Program Files (x86)\wmi_exporter\wmi_exporter.exe" ENABLED_COLLECTORS=process,iis LISTEN_PORT=500

but then I get the following error:
![image](https://user-images.githubusercontent.com/6490137/32782959-6d5f1972-c94a-11e7-9454-e50464b98c69.png)

so any ideas

[2017-11-14 14:21] carlpett commented on #133
`msiexec` can only run on msi files, it cannot do anything with the exe file.
I would suggest that you uninstall, and then run `msiexec` on the .msi file instead.

[2017-11-14 20:58] carlpett commented on #87
Thanks for the feedback!

Agree in principle. Some things that needs to be thought about: There are several non-relevant properties (Frequency_Object etc), how to filter them out reliably - is it enough with a static list? And how to create the query in this very dynamic case? A initialization query which fetches the data structure?
As for the filtering, possibly something similar to the `which`-f

[2017-11-16 08:04] alexandrul commented on #89
I'm encountering the same issue but only on 2 out of 3 servers (no VMs):

![wmi_exporter](https://user-images.githubusercontent.com/663809/32879778-fb2887b0-cab3-11e7-9cfa-87f649dedbe0.png)

Version: 0.2.7
Left server: Windows Server 2012 R2
Middle server: Windows Server 2008 R2
Right server: Windows Server 2012 R2
Never encoutered the issue on my Win 7 PC.

[2017-11-16 08:11] alexandrul opened #134 "Please expose the command line for the monitored processes"
It would be very useful when having multiple instances of the same process with different command line arguments.

[2017-11-16 09:15] brian-brazil commented on #134
This may make sense as an _info metric, but generally Prometheus is not intended for this class of monitoring.

[2017-11-16 16:03] papoyan opened #135 "Feature request - textfiles"
Hi,

Would be great to add the "textfile" feature on the collector similar to node_exporter.

[2017-11-16 16:44] carlpett commented on #135
Hi,
Thanks for the input. This is a duplicate of #33, so let's keep any further discussion there.

[2017-11-16 16:44] #135 closed

[2017-11-18 11:59] martinlindhe commented on #110
Possibly we could make do using goreleaser.
Instead of letting appveyor build releases, then one would build locally.
goreleaser creates and uploads sha256sums.txt, cross-compiles for Windows (and more that is not useful for this project).

https://goreleaser.com/

[2017-11-18 15:04] #133 closed

[2017-11-18 15:05] martinlindhe commented on #133
msiexec only works on the .msi files, so download a .msi from our releases page and use that instead.

[2017-11-18 15:07] martinlindhe commented on #130
@marcseguin did you resolve your issue about the win10 firewall?

[2017-11-18 15:08] martinlindhe commented on #115
@bbigras did you resolve this?

[2017-11-19 10:38] carlpett commented on #110
@martinlindhe Is there a difference between that approach and using `promu` without the build matrix as we discussed previously?
I'm not sure I understand "_Instead of letting appveyor produce releases, then one would build locally._", are you suggesting that release binaries should be built on someone's local machine and uploaded?

[2017-11-19 10:43] martinlindhe commented on #110
I think promu would be a better approach then. Was just posting about a tool that resolves this for us.

That is indeed one usage pattern for goreleaser. They also document CI integration on their homepage.

[2017-11-19 10:59] carlpett commented on #110
I don't have a strong opinion of promu vs goreleaser, just wondered if I was missing something :)
Re building locally, I do have a strong opinion, however. I do not think it is a good practice to build public releases on a personal machine. It is no longer (somewhat) simple for an end user to know what is in the binary, and the possibility of human errors (having some local change etc) is much hig

[2017-11-19 11:14] martinlindhe commented on #110
@carlpett just to respond to your comments (i also don't have a strong opionon of this)

Is this with regards to viruses and stuff?
I am on the contrary positive to local builds, as it opens up trust in things like [reproducible builds](https://blog.filippo.io/reproducing-go-binaries-byte-by-byte/).

Not sure I agree that the release process must be comprehensible to a end user.
goreleaser is not

[2017-11-19 11:30] carlpett commented on #110
This is taking a slightly philosophical turn, and might get subjective, but here is my reasoning:

Yes, as well as the lack of control over the installed versions of compilers etc.

Then I think we have the same ideal :) I fully agree that builds should be trusted and reproducible. But I would argue that since the CI system configuration is stored along with the code, building it on a "trusted" pl

[2017-11-19 11:42] martinlindhe commented on #110
Personally, I would like to be able to reproduce the exact binary locally as AppVeyor or travisCI produces (even better if i can cross-compile) . Then I can know the generated binary is good by elimination of influence.

I can agree Makefile is a bit arcane, but I find them handy ;-)

It does. If "git status" reports "working tree clean" then goreleaser is happy.

[2017-11-20 14:27] carlpett commented on #110
Okay, I think we've taken this as far as is valuable (and perhaps a bit longer) :)
To turn back to the actual topic - I see three options to get checksums available in the releases:

1. Keep using promu, cross-compile instead of using build matrix, let promu generate checksums.
Pros:
\+ Small change
\+ "Prometheus-like", familiar to other prometheus contributors (although how much actual value thi

[2017-12-04 08:16] alexandrul commented on #134
When having multiple instances of the same process, the command line could be the only way to group them in a human-friendly way (think `java.exe` on some application servers).

The command line can be retrieved with this query: `select Handle, Name, CommandLine from Win32_Process` (`Handle` seems to be identical with `ProcessId`, and `Caption` seems to have the same value as `Name`).

[2017-12-07 03:13] remeika opened #137 "Memory Leak in 0.2.7"
**Note**: This is an initial bug report that does not contain nearly enough information to trace this issue. We are actively gathering telemetry about this issue, and will be updating this ticket.

We've observed when running WMI exporter 0.2.7, WMI exporter allocates 100s MB memory a small number of hosts, while the vast majority of instances allocate <10MB.

<img width="1440" alt="screen shot 20

[2017-12-07 06:26] martinlindhe commented on #137
I suspect you are monitoring the garbage collection taking place.

Please provide more details as to how this would be an issue with wmi_exporter

[2017-12-07 06:26] martinlindhe commented on #137
Sorry, didn't mean to close the issue :-)

[2017-12-07 06:31] martinlindhe commented on #137
We had a previous memory leak investigation which might be helpful to you, in https://github.com/martinlindhe/wmi_exporter/issues/77

[2017-12-07 09:04] marcseguin commented on #130
Hello, the issue is solved. Thx Marc

[2017-12-07 09:47] marcseguin opened #138 "ticksToSecondsScaleFactor"
Hello,
what is the idea of the "ticksToSecondsScaleFactor" used as multiplier in some the WMI performance indicators?
Thx

[2017-12-07 09:54] carlpett commented on #138
Hi @marcseguin,
WMI reports many of the times as ticks. But for the metrics, we want to report times in seconds instead. So this is just a scaling constant we use to convert from ticks to seconds.

Makes sense?

[2017-12-07 09:54] #130 closed

[2017-12-07 15:55] remeika commented on #137
Thats fair, the original chart doesn't show the behavior we are really concerned with. New Relic monitoring picked up the following example, where WMI Exporter used up 15GB of memory until it crashed.

![screen shot 2017-12-07 at 10 52 02 am](https://user-images.githubusercontent.com/4956098/33724276-fb1f0b74-db3c-11e7-9c73-02f600376fb5.png)

[2017-12-07 16:24] martinlindhe commented on #137
Okay, this is interesting.
You are only running the default collectors, a configuration we have profiled before.

Is the hosts running same version of Windows (and same patchlevel) by any chance?
There are countless threads about the wmi component leaking memory in Windows 7, Windows Server 2008, 2012R2 and possibly other editions. These issues may or may not be resolved by windows updates.

Since

[2017-12-07 18:19] remeika commented on #137
Yes, these VMs are part of an autoscale set, and thus are configured very consistently. Below is the patch version at time of the above incident:

[code]

We do have other monitoring systems on these instances that exercise WMI, which have been running for many months without incident. A few other observations about this:

- It seems to occur on machines that have lots of work scheduled to run on

[2017-12-08 03:17] madeinoz67 commented on #33
I have a requirement for file export functionality where I have an ancient process (pick DB running on windows server) that has scheduled jobs to dump license and user stats reports into a text file that I'd like to get into prometheus.   Seeing that the file exporter is part of node exporter my thoughts are the file-exporter functionality should be mirrored in the WMI-exporter

[2017-12-08 09:44] martinlindhe commented on #33
@madeinoz67

Feel free to submit a pull request

[2017-12-09 22:40] roccozanni commented on #131
Hi there, thanks for the amazing work!

Any change to have a new release of the exporter now that #132 is merged?

[2017-12-09 22:55] martinlindhe commented on #131
@roccozanni thanks for the reminder!

Released v0.2.8 https://github.com/martinlindhe/wmi_exporter/releases/tag/v0.2.8

[2017-12-11 12:42] leoluk opened #139 "Specify collector filter as URL parameters"
node_exporter supports specifying a filter in the URL in order to have different scrape intervals for different collectors:

https://github.com/prometheus/node_exporter#filtering-enabled-collectors

A similar feature would be useful for wmi_exporter too.

[2017-12-12 03:08] madeinoz67 opened #140 "missing data in collected time series"
version: 0.2.7

I'm seeing on a number of wmi hosts (not all) missing time series data that appears to be determanistic (although not always)

This is only being observed on wmi_exporter nodes, linux node exporter exhibit no missing data.
the wmi nodes are not under any abnormal load during these drops in data.

I'm scraping about 30 wmi_nodes on 3 seperate seperate jobs based on their role , i.e.

[2017-12-12 15:37] martinlindhe commented on #140
This reminds me about an issue that has popped up before,
in that some WMI queries, on some machines took very long time to respond. This could cause gaps in the timeline.

You can debug this by manually starting wmi_exporter.exe on a machine that you know this happens on, and keep an eye on the terminal  output.

You can see more info about this being debugged in this issue: https://github.com/ma

[2017-12-13 00:30] madeinoz67 commented on #140
@martinlindhe thanks for that.  I will look at doing the debugging.

my current work around is to make null values connected so it doesn't show up the gaps on the screen

![2017-12-13_08-27-22](https://user-images.githubusercontent.com/4160293/33915685-9fdf8606-dfdf-11e7-93d1-beaf4b962bc4.png)

[2017-12-13 12:24] voidmain02 opened #141 "Multiprocessor system monitoring"
I need to monitor server with two processors. Each processor has 36 cores. So, there are 72 cores total, but wmi_cpu_time_total metric shows only 36 cores. How can I collect data for all 72 cores?

Thanks!

[2017-12-13 13:06] carlpett commented on #141
@voidmain02 That is odd. Could you run a manual wmi query with powershell to see how the data is structured. I _think_ we've tested it on multi-processor machines, but I don't have one available to verify.

Run this: `Get-WmiObject Win32_PerfRawData_PerfOS_Processor`, and report back what it looks like.

[2017-12-13 13:16] voidmain02 commented on #141
Result of powershell command:

[code]

[2017-12-13 13:20] voidmain02 commented on #141
Screenshot of task manager performance tab:

![default](https://user-images.githubusercontent.com/1044284/33940777-2b428e8a-e032-11e7-8ee1-891615715431.png)

[2017-12-13 13:46] carlpett commented on #141
Strange. It is only returning data for 36 cores. So at least the exporter is doing the right thing, but the underlying data isn't correct, for some reason.

[2017-12-13 13:48] carlpett commented on #141
You seem to have a more recent version of Windows than 2008R2? Could you give the results of this query?

`Get-WmiObject Win32_PerfRawData_Counters_ProcessorInformation`

[2017-12-13 14:05] voidmain02 commented on #141
[Result of Get-WmiObject Win32_PerfRawData_Counters_ProcessorInformation](https://github.com/martinlindhe/wmi_exporter/files/1555730/result2.txt)

[2017-12-14 10:49] carlpett commented on #138
I'll close this as inactive, but feel free to reopen if this was not what you were looking for!

[2017-12-14 10:49] #138 closed

[2017-12-14 10:51] #129 closed

[2017-12-14 10:51] carlpett commented on #122
@berlinsaint Did you come to some conclusion about your problem?

[2017-12-14 18:24] carlpett commented on #141
Right, that one has all the cores. I know what needs to be done (toggle to the ProcessorInformation class on systems that support it), but I will be on a trip with probably _very_ bad internet access from early tomorrow morning up until christmas.
You are very welcome to submit a pull request of course, you can look at the IIS collector for some inspiration on how to do different things depending

[2017-12-15 10:45] voidmain02 commented on #141
I've never coded on Go language. I think that it will take me too long to sort things out and adjust the environment. The task is not urgent, you can fix the error when you will have time. Thanks!

[2017-12-20 10:59] trickv opened #143 "wmi_net_bytes_* counters all show zero; expose other bytes metrics?"
I've just started using wmi_exporter on a bunch of Server 2012 VMs and it's working pretty well so far.
However I'm seeing zeroes for all of the wmi_net_bytes_* metrics, but the wmi_net_packets_* metrics are working fine:

[code]

Looking a bit further, it looks like the actual counters (presumably the same ones) are showing zero bytes, whilst the broadcast / multicast / unicast byte counters are

[2017-12-20 13:21] carlpett commented on #143
Hi,
That's strange. I'm travelling, but I can take a look next week, hopefully. We could definitely expand the reported metrics as you suggest, perhaps as a label. Not sure if those are not present on older versions, perhaps, since they aren't included now...

[2017-12-20 18:21] martinlindhe commented on #143
This could possibly be a driver issue, as I guess the driver might be responsible for exporting metrics to WMI.

[2018-01-02 16:20] eriklg opened #144 "Windows Firewall Rule not working properly"
I enabled the windows firewall after installing the wmi_exporter and it wasn't working properly with the default rule. I had to change the firewall rule to not be specific to the wmi_exporter.exe program but rather to "All programs that meet the specified conditions"

[2018-01-02 16:38] carlpett commented on #144
Hi @eriklg,
Thanks for reporting! What version of Windows did this happen on?
Did I understand correctly that you had the firewall disabled while installing the exporter, and then enabled it after installation?

[2018-01-02 16:46] eriklg commented on #144
Hi @carlpett ,
That's correct on the status of the firewall. I am using Server 2012 R2 Standard Edition.

[2018-01-06 18:09] roiromanoclick opened #145 "wmi exportet failed"
Hi all,
prometheus cannote rech the server windows, and i got this error on event viwere:
The description for Event ID 100 from source wmi_exporter cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You can install or repair the component on the local computer.

If the event originated on another computer, the disp

[2018-01-07 09:52] carlpett commented on #145
Hi,
The beginning of that message does sound bad, but the actual message is
"Starting server on :9182", so that should mean everything has started up
correctly (see [#22](https://github.com/martinlindhe/wmi_exporter/issues/22)
for details about why it complains about event descriptions).

So something else is giving you trouble. Could you first verify that you
can reach the exporter locally from t

[2018-01-07 10:59] roiromanoclick commented on #145
Hi, thank you

Im ruuning on local machin http://localhost:9182/metrics , ans i didnt see
any metrics- the page not success .
please note- i did full reboot to the server and its fixed the issue , but
i dond understand why its happen ?

2018-01-07 11:52 GMT+02:00 Calle Pettersson <notifications@github.com>:

--
בברכה,
roi romano

[2018-01-12 06:39] liyang010813 opened #146 "Question: can this project manage multiple remote computers? If you can hope to give some advice."
Question: can this project manage multiple remote computers? If you can hope to give some advice.thank you!

[2018-01-12 07:07] carlpett commented on #146
Hi @liyang010813,
No, it is intended to be installed locally on each monitored machine, which is in line with Prometheus best practices.

[2018-01-12 07:07] #146 closed

[2018-01-12 07:20] liyang010813 commented on #146
@carlpett That means you can only monitor your local computer, right? If, then, Prometheus exists on all remote computers, it is not possible to manage it comprehensively.

[2018-01-12 07:25] liyang010813 commented on #146
@carlpett then this project exist  what's the meaning

[2018-01-12 10:34] carlpett commented on #146
I think you may have mixed up the relation between Prometheus and exporters. You'll have one (or more) central Prometheus servers, which scrape your exporters, that are deployed on all your targets (Windows servers, in the case of the wmi_exporter).
So you do not have to manage a prometheus installation on each machine.

[2018-01-12 16:00] chrisgraf commented on #78
I tried to execute your test-query but even as local administrator I get the Access denied message. What additional privileges do I need to have to execute the query? How can these be added to the exporter service once it has the smart export feature enabled?

[2018-01-17 07:39] wangyf123 opened #147 "Install failed on win08r2"
I deploy an vm with win 2008 r2  on openstack, then install wmi_exporter with command:
msiexec.exe /i C:\Users\Administrator\AppData\Local\Temp\tmpCBE6.tmp.msi INSTALLDIR=C:\Users\administrator\WindowsServer_cdahh7 /QN /L*V C:\exporter.log

After installation, I can get data from 9182, but the status code of command is 1603, and error in exporter.log like below:
Error 1316: A network error occurre

[2018-01-17 09:21] martinlindhe commented on #147
Your error
Error 1316: A network error occurred while attempting to read from the file:C:\Users\Administrator\AppData\Local\Temp\tmpCBE6.tmp.msi is produced by msiexec.exe, and indicates something like "file not found".

I can't possibly imagine how you would consider this to be a bug in wmi_exporter.

This relates to the first part. Your installation was not successful, so no software has been in

[2018-01-17 09:21] #147 closed

[2018-01-17 12:45] wangyf123 commented on #147
Yes, I'm sure. I can get data from http://192.168.100.193:9182/metrics

For I can see that exporter has been install in C:\Program Files\wmi_exporter, I think it has been installed. But my command is "msiexec.exe /i C:\Users\Administrator\AppData\Local\Temp\tmpCBE6.tmp.msi INSTALLDIR=C:\Users\administrator\WindowsServer_cdahh7 /QN /L*V C:\exporter.log". I appoint the INSTLLDIR but it seems doesn't

[2018-01-17 13:09] martinlindhe commented on #147
The log you posted contains an error:

MSI (s) (00:D4) [20:38:29:376]: Product: WMI Exporter -- Error 1316. A network error occurred while attempting to read from the file: C:\Users\Administrator\AppData\Local\Temp\wmi_exporter-amd64.msi

which is then followed by a rollback.

So this cannot possibly have ended with a successful installation on your end.

I can only assume you manually installed t

[2018-01-17 13:17] martinlindhe commented on #147
As for installation directory, you should use TARGETDIR, not INSTALLDIR.

See https://github.com/martinlindhe/wmi_exporter/blob/master/installer/wmi_exporter.wxs#L28

[2018-01-17 13:20] wangyf123 commented on #147
@martinlindhe  Thank you very much. For my poor English, my expression maybe somewhere not polite, please forgive. :)

[2018-01-17 21:24] dvictor1 opened #148 "IIS collector fails on IIS 10.0 - 2016 Server"
error is here:
[ERROR] failed collecting iis metrics: <nil> Exception occurred. (Invalid class )

System  : Microsoft Windows Server 2016 Datacenter
ServicePackMajorVersion : 0
OSArchitecture          : 64-bit
BuildNumber             : 14393

[2018-01-18 01:50] dvictor1 commented on #148
never mind, turned as Windows issue.

[2018-01-18 01:50] #148 closed

[2018-01-20 18:17] leoluk commented on #89
I'm also experiencing this issue on multiple bare-metal Windows Server 2012 R2 hosts. Same symptoms - WMI process CPU spikes in 16-17 minute intervals.

While unlikely, I wouldn't fully discount the possibility that wmi_exporter is using WMI in a way that makes it hang. I've seen similar bugs in software before.

[2018-01-20 23:57] leoluk commented on #89
After some profiling, it looks like the WMI Provider Server regularly refreshes some sort of class name cache, calling `EnumCounterObjects`, which in turns reads a massive number of registry keys, in line with what @higels discovered. I haven't yet been able to figure out what triggers it.

![image](https://user-images.githubusercontent.com/859697/35189010-3b7b7ee6-fe42-11e7-8bc7-ab9fdf86d7ee.png)

[2018-01-23 13:02] iyacontrol opened #149 "add hyperv for wmi_exporter"
do you have the plan to add hyperv for wmi_exporter? i have completed the code ,so i hope add pr.

[2018-01-29 20:43] marbis-leo commented on #140
It's a bug in WMI, see #89

[2018-01-29 20:44] leoluk commented on #140
It's a bug in WMI, see #89.

I think I found a workaround, give me a few days to clean up the code and I'll publish it.

[2018-01-31 19:18] lfarnell commented on #148
@dvictor1 can you post what you did to fix this issue? Running into this as well.

[2018-01-31 19:59] ecki opened #151 "totals documented as gauge (wmi_system_context_switches_total, wmi_system_exception_dispatches_total)"
Hello, for the following two metrics it looks like this is a counter and not a gauge. This also means the "Persec" description is probably wrong?

[code]

This is wmi_exporter 0.2.8 on Win 10 1703 x64 german.

[2018-02-01 08:34] carlpett commented on #151
Hi @ecki,
Thanks for noticing! That is indeed an error, it should be a counter.
The persec-naming is indeed wrong, and this collector might have been written before that was noticed.

Would you feel comfortable making a PR for this?

[2018-02-06 14:40] Netsky349 opened #152 "AD collector Failed collecting ad metrics"
Hello Everyone ,

I want to use "ad" collector so when i run this command from powershell :

.\wmi.exporter.exe "-collectors.enabled" "ad"

I have this errors (on my server active directory) :

You have any ideas ?

[2018-02-06 15:44] carlpett commented on #152
Hi,
Typically this happens when the wmi class is for some reason not registered in Windows. Can you try running this in Powershell?
`Get-WmiObject Win32_PerfRawData_DirectoryServices_DirectoryServices`

[2018-02-06 15:54] Netsky349 commented on #152
Hi Carl,

When i run this command i have this results :

[2018-02-07 08:01] carlpett commented on #152
Ok, so the WMI parts are working, good.
I see from your original post that you are running this from a terminal? Was it run in an administrative terminal?

[2018-02-07 08:38] Netsky349 commented on #152
yes of course :)

![captureadwmi](https://user-images.githubusercontent.com/22470084/35906386-8ba00bc0-0bea-11e8-8501-66072d18fa4f.JPG)

[2018-02-07 20:58] carlpett commented on #152
This is odd. We're not doing much else than what that powershell call does. I'm beginning to wonder if there might be something to do with non-english locales - this type of problems have been reported very often with different language settings...
Do other collectors work fine on this machine?

[2018-02-08 09:59] carlpett commented on #152
From looking a bit closer at the output you gave, it seems your machine actually does not report one of the counters we expect, `DSPercentWritesfromDRA`. What is the version of Windows you are using?

[2018-02-08 10:55] VR6Pete opened #153 "MSMQ collector"
Hi There,

Within the environment I wish to monitor we use MSMQ for some legacy applications.

I understand that this is exposed via WMI (Win32_PerfRawData_MSMQ, Win32_PerfFormattedData_MSMQ_MSMQService etc...) - I am wondering if this can be added as a collector to WMI exporter or if there is another method exists that will get me up and running?

Thanks.

Pete

[2018-02-08 11:20] carlpett commented on #153
Hi!
Yes, this would fit in perfectly as a collector to WMI exporter! We have [a script](https://github.com/martinlindhe/wmi_exporter/tree/master/tools/collector-generator) which can be used to generate most of the code necessary. Are you familiar with Go programming? There is often some amount of tuning required to get good results (WMI is not quite as uniform as one could hope, so it is hard to g

[2018-02-08 11:28] Netsky349 commented on #152
I'm using the Windows 2016 server, I just changed language system but I have the same problem on the AD collector.

[2018-02-08 11:40] carlpett commented on #152
I've built a test-build which removes the counter that was not present on your system, could you give it a shot and see if it works?
[wmi_exporter.zip](https://github.com/martinlindhe/wmi_exporter/files/1706840/wmi_exporter.zip)

[2018-02-08 11:45] Netsky349 commented on #152
It works:) good ! thank's for your help. Can you give me the msi too?

[2018-02-08 11:58] carlpett commented on #152
Nice! The patch is a breaking change, though, so I'll have to try to make it compatible before merging it in.
Also would be interesting to figure out how come your system does not have that counter...

[2018-02-08 12:54] Netsky349 commented on #152
yes indeed I don't have any specific configuration on AD. Can you tell me what counter is missing?

[2018-02-08 15:17] carlpett commented on #152
It is named `DSPercentWritesfromDRA`, and is related to the replication agent. Do you have multiple sites in your AD?

[2018-02-08 15:36] VR6Pete commented on #153
Hi Carlpett.

I'm afraid I am not familiar with Go programming. If its any help I am looking to get current queue sizes and identify if a queue has become stuck / not processing.

[2018-02-09 04:59] sandersaares opened #154 "Disable services collectors in default configuration"
In environments where I do not care about service status, the services collector generates a huge amount of metrics when using the default install (as Windows comes with many services). I request that the Windows services collector be disabled by default, to keep the default set tidy and data-size-efficient.

[2018-02-09 09:17] martinlindhe commented on #154
We are unlikely to change defaults to suit your specific needs.

Please configure the collectors you need using `-collectors.enabled`.

[2018-02-09 09:17] #154 closed

[2018-02-09 11:12] sandersaares commented on #154
This is not about my specific needs. I would think it to be in the interest of this software to provide reasonable defaults. It does not seem reasonable that the majority of the default metrics are relatively static metrics about services.

What is the rationale behind the current set of defaults?

[2018-02-09 11:31] steinbrueckri commented on #154
I have the same opinion as martinlindhe.
A Monitoring agent should monitor services by default.

[2018-02-09 11:38] martinlindhe commented on #154
The rationale about the current defaults is that they are supposed to be available on all supported OS:es.
We can not offer a "set and forget" for monitoring. The user needs to think about what they want to monitor and base their decisions on that.

[2018-02-09 16:36] Swashed opened #155 "yml doesnt run"
Hello, anything wrong with my config file?

cant run it with ur code from grafana

[code]

[2018-02-09 17:07] carlpett commented on #155
Hi,
What do you mean? That is a config file for the prometheus server, not for wmi_exporter. Grafana integrates with Prometheus, not wmi_exporter as well.

[2018-02-09 23:23] VR6Pete commented on #153
Hi there.

Any further advice with this ? When will be the next release with this included?

Many thanks

Pete

[2018-02-09 23:26] VR6Pete opened #156 "[question] Query for missing service"
Hi there.

I would like to identify with Prometheus if a windows service is not present.

[2018-02-09 23:31] VR6Pete commented on #156
Whoops. Clicked submit a little too soon.

I’m looking for advice to be able to identify where a windows service is not present. I’ve tried a few queries against wmi exporter metrics but to no avail.

Ultimately I’d like to create an alert for if the service does not exist.

Cheers

Pete

[2018-02-10 08:46] carlpett commented on #156
Did you try with the [absent](https://prometheus.io/docs/prometheus/latest/querying/functions/#absent()) function?

[2018-02-10 08:49] carlpett commented on #153
Hi @VR6Pete,
Please understand that this is a project being developed in our spare time. Implementing this will not only require some coding, but also a non-trivial amount of time in setting up the required services so that it is testable.
As it stands, I am unfortunately not able to give any promises regarding when anyone will have time to implement it.

[2018-02-10 08:52] carlpett commented on #153
I know some projects have methods for letting those who are not able to contribute directly instead sponsor the requisite development time. Perhaps we should look into that, since the overlap between operators of Windows systems and Go programmers is quite small.
As a very non-formal poll, would that sort of "feature request purchase" be interesting to you/your employer, @VR6Pete?

[2018-02-10 09:43] e9d26 opened #157 "How to monitor specific multiple services"
I have a question.
As described in README.md, I understood wmi_exporter can use specify custom query as below.
`.\wmi_exporter.exe "-collectors.enabled" "service" "-collector.service.services-where" "Name='wmi_exporter'"`

but, If I'd like to monitor ***specific multiple services***, how should I write command line argument?
I tried to write as below, but I failed.
`.\wmi_exporter.exe "-collectors

[2018-02-10 11:35] martinlindhe commented on #153
Good call, @carlpett

[2018-02-10 19:56] VR6Pete commented on #156
I’ll give that ago :) wasn’t aware such function existed. Thank you.

[2018-02-10 21:01] #156 closed

[2018-02-10 21:01] carlpett commented on #156
No problem :)

[2018-02-12 09:57] Netsky349 commented on #152
Hello,
yes I have two active directory sites. but I don't know why I don't have DSPercentWritesfromDRA :) !

[2018-02-12 11:53] carlpett commented on #152
Ok, thanks for checking that. I was wondering if it perhaps didn't show up if you only had one site, but then we can remove that possibility.
I haven't had time to look at how to do "feature detection" yet, it is a bit tricky to get right, sadly

[2018-02-12 13:36] VR6Pete commented on #153
depends what sort of costs we are looking at :)

[2018-02-12 17:47] cukal opened #158 "Feature Request: Add textfile collector"
Hi,

Thanks for an already excellent wmi exporter for Prometheus!
I needed the textfile collector today for a windows host and a batch job but noticed it wasn't available.
Any plans to add it to wmi_exporter?

[2018-02-12 18:19] brian-brazil commented on #158
This is a duplicate of #33

[2018-02-12 18:19] #158 closed

[2018-02-13 22:03] VR6Pete commented on #153
Any update on the above? Keen to explore options here?

[2018-02-14 07:40] alexandrul commented on #134
As a workaround I'm using metricbeat 6.2.1 which is also collecting the command line for monitored processes (a logstash regex is providing the extra context info for my dashboard).

[2018-02-14 09:16] carlpett commented on #153
@VR6Pete Sorry for the slow response, I've been out on a business trip this week.
We could arrange something, I'm sure. Do you have some contact details?
Also, a basic collector was actually contributed earlier this morning: [#159](https://github.com/martinlindhe/wmi_exporter/pull/159). Does this fulfill your needs?

[2018-02-14 11:05] VR6Pete commented on #153
I think that is a good starter for 10 - Do you know when a new MSI will be packaged?

[2018-02-14 11:27] carlpett commented on #153
Great! I'm tagging the release now, msi:s should be available in a few minutes

[2018-02-14 12:53] carlpett commented on #157
Hi @e9d26,
The argument is put directly into the `WHERE` clause of the WMI query. For troubleshooting, you can use Powershell with `Get-WmiObject -Query "..."`.
I'm travelling without access to a Windows environment to try right now, but if you are unable to get it working, I'll have a look later this week!

[2018-02-14 12:54] #155 closed

[2018-02-14 12:54] #153 closed

[2018-02-14 12:56] carlpett commented on #145
Closing this as we don't have a good way to troubleshoot this. Please reopen if it reoccurs!

[2018-02-14 12:56] #145 closed

[2018-02-14 14:28] carlpett commented on #115
We've seen the "invalid query" in another bug, where there were fields that were not exposed from Windows for some reason.
Let's close this for now, since it doesn't seem to be an issue any more, but the above would be interesting to investigate next time.

[2018-02-14 14:28] #115 closed

[2018-02-14 22:20] VR6Pete commented on #153
Fab. Updated and working great!

[2018-02-14 22:29] VR6Pete commented on #156
Still having an issue with this. All the queries I have tried have ommited the instance name and therefore just have a general alert being generated but not against any specific target host.

Do you have any tips around this? Cheers Pete

[2018-02-15 03:25] e9d26 commented on #157
Hi @carlpett
Thank you for your reply.
I followed your advice and It got working!! Thanks!!

[2018-02-15 03:39] #157 closed

[2018-02-15 23:18] VR6Pete commented on #140
I’ve seen this myself. Has this now been fixed ?

[2018-02-16 02:41] madeinoz67 commented on #89
YEs seeing the same things, I did increase my scrape timeouts on the prometheus job and made things a bit better, however you can definitely still see in the exporter scrape time I'm tracking.

also noticed that it depends on what options you have enabled in the wmi-exporter, i.e. having the defaults and IIS will increase considerably

wmi-exporter defaults only
![2018-02-16_10-36-21](https://user

[2018-02-16 02:43] madeinoz67 commented on #140
I will close this one as a duplicated of #89

[2018-02-16 02:43] #140 closed

[2018-02-16 07:38] icanit commented on #131
Hello, @VR6Pete

I am using following setup for monitoring IIS state across two web servers via grafana:
![image](https://user-images.githubusercontent.com/2733119/36297659-05d65040-1305-11e8-84da-62cb5f7d0ca2.png)

With queries:
IIS connections: `wmi_iis_current_connections{instance="etaper01"}`
IS Worker Threads Count: `wmi_process_thread_count{process="w3wp"}`
Worker PIDs (with disables Axes):

[2018-02-16 08:57] martinlindhe commented on #89
I think @leoluk's observations match closely what is going down.

The issue seems to be with the wmi code we are using.

From our code, we call `wmi.Query()`.

This function internally uses a Client https://github.com/StackExchange/wmi/blob/master/wmi.go#L74

It seems we are not initializing the Client used by wmi properly, as this comment indicates at line https://github.com/StackExchange/wmi/blo

[2018-02-16 09:35] leoluk commented on #89
Sure, happy to test (separate branch is fine).

[2018-02-16 09:36] martinlindhe commented on #89
Great! Am working on such change now.
It will be a separate branch with a separate wmi_explorer.exe for testing

[2018-02-16 09:41] leoluk commented on #89
How is this different from https://github.com/martinlindhe/wmi_exporter/blob/94caf8ee61027bd02ae694353597741182b00829/exporter.go#L148 though?

[2018-02-16 09:50] martinlindhe commented on #89
@leoluk good question, i didn't consider this code :... Got to look through it some more, but with your comment it seems we already are doing this.
But your profile suggests its not working properly

[2018-02-16 09:55] leoluk commented on #89
My current assumption is that the bug is in Windows, not wmi_exporter. I can reproduce it by querying WMI through PowerShell and the hang is system-wide.

To me it appears like querying performance data via WMI, in low intervals, is fundamentally broken. About every 1000 seconds, there's a spike in query latency where WMI updates its list of perflib providers.

The KB lessens the impact by making

[2018-02-16 09:59] martinlindhe commented on #89
I've gone through the code more and realize the fix I was suggesting is already in code as @leoluk pointed out.

That would be the only possible cause in our end for such stall as far as I can figure.

Additionally, with more feedback from @leoluk it seems more plausible this is actually an issue in the WMI agent in Windows.

Sorry for the noise!

[2018-02-16 10:10] carlpett commented on #89
@leoluk Kudos on the very impressive troubleshooting here :)
Does this happen also by just running perfmon? That by default uses a much shorter interval than Prometheus, so it seems like it should see the issue as well?

[2018-02-16 10:15] leoluk commented on #89
Perfmon uses the PDH library, not WMI. I did not test with Perfmon, but PDH is not affected.

Here's a quick summary of the relationship: https://msdn.microsoft.com/en-us/library/windows/desktop/aa371643(v=vs.85).aspx

I've started to work on a Go library for the HKEY_PERFORMANCE_DATA interface. You basically do one RegQueryValueEx call and get a 300k binary blob in return that you'll have to pars

[2018-02-16 10:17] martinlindhe commented on #89
@leoluk PDH sounds really interesting. Please keep us updated!

[2018-02-16 10:32] carlpett commented on #89
Learning new things today :)
My previous, apparently faulty, understanding was that Perfmon used the subscription/async query method, so thus my interest in if that also caused issues.
I guess switching to a PDH approach would require quite a lot of changes, but very interesting idea nevertheless!

[2018-02-16 10:34] martinlindhe commented on #89
We've seen implications of issues with the windows WMI component in this project so many times by now, I think it might be a good idea to investigate use of PDH further.

[2018-02-16 12:03] VR6Pete commented on #131
Hi @icanit  That's a great bit of information I have now got a nice set of dashboards.

It's a pity that there is no way to lookup the PID and map the app name in a query - vlookup esq in excel. unsure if this is even possible?

Further question for you if I may - Can you please tell me how you have got the colours on the worker PID to match dynamically on each of the graphs ?

Thanks.

Pete

[2018-02-16 14:50] deniskril opened #160 "hostname and ip is missing"
how get hostname and ip from wmi exporter?

[2018-02-16 14:52] carlpett commented on #160
This is something you typically let Prometheus target discovery handle. You'll get the `instance` label set automatically.

[2018-02-16 14:52] #160 closed

[2018-02-19 04:56] icanit commented on #131
Hi, @VR6Pete

This is coincidence, that collors with same pid has same color on my screenshot, i think there no way to make them match dynamicaly across multiple panels :(

[2018-02-19 12:44] VR6Pete commented on #131
Damn :) Thanks for your reply though !

[2018-02-20 22:31] VR6Pete opened #161 "[Question] wmi_logical_disk_free_bytes - predict_linear?"
Hi there,

I am trying to apply the method from;

https://www.robustperception.io/reduce-noise-from-disk-space-alerts/

but using data from wmi exporter as per the below but just a message "No datapoints found."

predict_linear(wmi_logical_disk_free_bytes{instance="xxxxx"}[1h], 4 * 3600) < 0

Tried a few variations but none appear to be working. Any clues as to where I am going wrong?

Thanks.

Pe

[2018-02-21 06:55] carlpett commented on #161
Hi,
I've successfully used that pattern myself, so that should definitely work. My guess is that you actually don't have any disks that are about to run out of space? Try removing the `< 0` part, and you should get the predicted free bytes in four hours. Does that work?

(Tip: You'll probably get faster help on the prometheus-users maillist :) )

[2018-02-21 14:22] nwies opened #162 "[Question] add new Collector : Win32_PerfFormattedData_Tcpip_NetworkInterface"
hello,

could it be possible to implement Win32_PerfFormattedData_Tcpip_NetworkInterface
In order to have a bandwidth usage as describe in https://ss64.com/ps/syntax-get-bandwidth.html ?

thanks for your feedback.

[2018-02-21 14:28] martinlindhe commented on #162
What exactly is lacking from the existing 'net' collector, based on Win32_PerfRawData_Tcpip_NetworkInterface ?

[2018-02-21 15:43] nwies commented on #162
the ability to have a direct to the "CurrentBandwidth" and "BytesTotalPersec" items in order to calculte a % of use. I didn't see same items on the Win32_PerfRawData_Tcpip_NetworkInterface

[2018-02-21 15:53] martinlindhe commented on #162
I see them here:

[code]

[2018-02-21 15:54] nwies commented on #162
ok. my bad.
you can close this ticket
thanks a lot.

[2018-02-21 15:54] #162 closed

[2018-02-21 15:55] martinlindhe commented on #162
BytesTotalPersec  is exported in the net collector as BytesTotal,
PacketsPersec is exported as PacketsTotal

It seems we don't currently export CurrentBandwidth

[2018-02-21 15:58] martinlindhe commented on #162
CurrentBandwidth seems to hold the link speed of the ethernet interface. Not sure why you would need that to calculate current bandwidth.

[2018-02-21 16:02] nwies commented on #162
i would Like to have a % of use from the possible bandwidth.
the formula should be :
result = FormatNumber((( BytesTotal * 8  / objItem.CurrentBandwidth) * 100))

[2018-02-21 16:02] martinlindhe commented on #162
Okay. We can export CurrentBandwidth to make it possible.

[2018-02-21 16:03] nwies commented on #162
thanks

[2018-02-21 16:13] martinlindhe commented on #162
I released a new version exporting current_bandwidth, quick test locally gives

[code]

You can download it here:
https://github.com/martinlindhe/wmi_exporter/releases/tag/v0.2.10

[2018-02-21 16:14] martinlindhe commented on #162
You should be able to use the exported values to calculate a % using the prometheus queries

https://prometheus.io/docs/prometheus/latest/querying/basics/

[2018-02-22 21:17] VR6Pete commented on #161
Ahha. Was a tough day 😂 and have now discovered the user group thanks as always

[2018-02-23 09:08] jinh-dk opened #163 "[Question] Does wmi_exporter has log file?"
I am running  wmi_exporter on a few windows computers.

I noticed that on one computer, sometimes Prometheus couldn't reach the exporter.  (diffcult to reproduce, only happened once or twice per week.  The error normally disappeared after some time (5 - 30 minutes).

Because this computer is a bit special, which is using a separated switch than others, and also doing some special work,

So it migh

[2018-02-23 09:27] carlpett commented on #163
We output the log to the Windows Event Log, have a look under the Applications section there.
(There's quite a bit of text before each log entry along the lines of "Cannot find ...", that can be ignored, see #22)

[2018-02-24 22:28] VR6Pete opened #164 "Win32_ScheduledJob"
Hi there.

Just wondering if it’s possible to add support for this in the future?

https://msdn.microsoft.com/en-us/library/aa394399(v=vs.85).aspx

Would be useful to monitor such activities across an estate via Prometheus.

Thanks

Pete

[2018-02-25 09:29] steinbrueckri commented on #164
👍

[2018-02-27 10:20] VR6Pete commented on #164
Not too sure how this would work now as the "at" command has been deprecated therefore Win32_ScheduledJob returns no items.

Unsure if the new schtasks.exe has an API to query but I don't think this idea with float.

[2018-02-28 07:58] VR6Pete commented on #89
Any further on this one chaps ? Cheers.

[2018-02-28 08:20] martinlindhe commented on #89
@VR6Pete Please refrain from posting asking for status updates. It just contributes to spamming us.

[2018-03-08 15:56] godefroi commented on #139
Would love to have this.

[2018-03-13 15:43] hairyhenderson opened #165 "Missing process_* metrics"
It'd quite useful to be able to monitor generic process metrics of the exporter itself, and I'm used to exporters having at least `process_start_time_seconds` exposed.

Obviously this is done by default on Linux by the code in https://github.com/prometheus/client_golang/blob/master/prometheus/process_collector.go, and that can't work because Windows has no `/proc` filesystem.

I'd rather not have

[2018-03-13 17:48] martinlindhe commented on #121
Note: the `vgo` development might retire `dep`, I've no idea what will happen at this point. :-)

https://research.swtch.com/vgo

[2018-03-13 19:48] #121 closed

[2018-03-13 19:53] martinlindhe commented on #121
Another note from #166:

[2018-03-13 20:03] martinlindhe commented on #78
The pr in upstream StackExchange/wmi has been merged and vendor updated in https://github.com/martinlindhe/wmi_exporter/commit/df0db7a54f15d76e12840c9c6ac755748a64ae65#diff-9d82496a83fa4e47d10aefb501c99b4e

[2018-03-13 22:29] reedhastings opened #168 "Prometheus reporting connection refused"
Trying to find out why Prometheus is reporting "connection refused."  I have tried installing several times specifying ports, no port, ip binding, and still Prometheus will not connect.  Windows firewall is not the issue.  Is there a way I can find out what port wmi exporter is on?  Not even sure what the service name is.

[2018-03-13 23:03] martinlindhe commented on #168
wmi_exporter uses port 9182 unless you configured it otherwise.

See https://github.com/martinlindhe/wmi_exporter#installation

[2018-03-13 23:34] reedhastings commented on #168
Thank you for the quick reply!  I tried installing using the default port and two other ports.  I cannot connect locally from the machine on 9182, 9100, or 5000 (the ports I tried to install as).  Is there a way to check that the service is installed properly and running using another method?

[2018-03-14 00:50] martinlindhe commented on #168
Run `services.msc`

[2018-03-14 08:44] karl-johan-grahn opened #169 "0.2.11 failed to start"
When installing the latest release https://github.com/martinlindhe/wmi_exporter/releases/download/v0.2.11/wmi_exporter-0.2.11-amd64.msi I get this error:
![image](https://user-images.githubusercontent.com/6355577/37391678-2de4c62c-276c-11e8-8b3d-80d1526bc8a1.png)

[2018-03-14 09:43] martinlindhe commented on #169
Can confirm issue. In the meantime you could use 0.2.10, there should be no functional changes.

[2018-03-14 10:25] martinlindhe commented on #169
Quick update:

- wmi_exporter.exe is correctly built.

- event viewer logs the following:
    - A timeout was reached (30000 milliseconds) while waiting for the WMI exporter service to connect.
    - The WMI exporter service failed to start due to the following error:
The service did not respond to the start or control request in a timely fashion.

Currently investigating wix things.

[2018-03-14 10:30] carlpett commented on #169
I'm away on a business trip so limited ability to assist, but some thoughts to investigate:
- Does it work if launched "manually" from the command line?
- Any interesting vendor changes in the WBEM libs?

[2018-03-14 10:35] martinlindhe commented on #169
@carlpett Hey, I was just about to reach out to you! :-)

wmi_exporter.exe runs correctly if launched directly.
I thought at first the issue was the dep bump yesterday, but I have now rebuilt the .msi on older commits with the same result.

Example:

    git checkout b9b8cfd1ca08892a16a37cfab22931b0e134db38   # the commit for tag v0.2.10
    .\installer\build.ps1 -PathToExecutable .\wmi_exporter.e

[2018-03-14 10:39] martinlindhe commented on #169
More details:

the wix-binaries.zip sha256 is confirmed to be unchanged.
My local download has hash da034c489bd1dd6d8e1623675bf5e899f32d74d6d8312f8dd125a084543193de, which can also be found in https://github.com/golang/build/blob/master/cmd/release/releaselet.go#L298

[2018-03-14 10:42] martinlindhe commented on #169
Actually I misread. We use wix 3.11 from june 2017. There is a wix 3.11.1 from Nov 2017. I am trying that one now.

[2018-03-14 10:45] martinlindhe commented on #169
Same issue with wix 3.11.1. however, we should upgrade to it as soon as this is resolved due to security issue fixed: https://www.firegiant.com/blog/2017/12/31/wix-v3.10.4-and-wix-v3.11.1-released/

[2018-03-14 11:22] martinlindhe commented on #169
Been diff:ing msi install logs without much success. This log format is really not designed to be consumed by anyone...

[2018-03-14 11:25] martinlindhe commented on #169
I updated the v0.2.11 release with details. https://github.com/martinlindhe/wmi_exporter/releases/tag/v0.2.11

I'm out of time today to dig deeper.

@hairyhenderson, did you experience similar issues?

[2018-03-14 12:50] hairyhenderson commented on #169
@martinlindhe I didn't... But I didn't get the chance to test it very deeply yet. @karl-johan-grahn is a colleague of mine, so I'll work with him to see if we can figure it out.

The main change I was looking for with the dep updates is for the `github.com/prometheus/client_golang` packages (some updated naming with some of the metrics). So maybe a temporary workaround would be to revert the dep u

[2018-03-14 19:35] godiedelrio opened #170 "Specify a custom query to filter process metrics as a MSI installer parameter"
Hi everybody. As far as I know, the MSI installer does not have a parameter to specify a custom query to filter metrics, as can be done when launching wmi_exporter manually, i.e.

`wmi_exporter.exe -collectors.enabled cs,process -collector.process.processes-where "Name='wmi_exporter' OR Name='svchost'"`

As a workaround, the custom query parameter can be "embedded" in the MSI installer parameter E

[2018-03-15 09:27] VR6Pete opened #171 "Windows Services - Report against Degraded State"
Hi,

How can I query windows services in a "degraded" state?  Nagios is able to do this which I am trying to replace with Prometheus :) Not found any values that would tell me a windows service is running in a degraded status.

Thanks :)

Pete

[2018-03-15 20:41] carlpett commented on #171
Well, I guess the question is what Nagios means by "degraded"? This is, as far as I am aware, not a state which Windows itself has. So Nagios must be combining multiple points of information?

[2018-03-15 20:49] carlpett commented on #169
Still not in a position to actually try stuff, but I _can_ look at diffs :) I noticed that we also updated the vendoring for `golang.org/x/sys/windows/svc`. Among other things, the update contained [this commit](https://github.com/golang/sys/commit/e62c3de784db939836898e5c19ffd41bece347da), which seems to change how Go works with the Windows API calls to run as a service.
It might be interesting t

[2018-03-15 20:49] VR6Pete commented on #171
https://msdn.microsoft.com/en-us/library/aa394418(v=vs.85).aspx

[2018-03-15 21:30] martinlindhe commented on #169
@carlpett Thanks for having a look!

I did believe I ruled this out, but I find it more likely I messed something up.
I'll have a look again tomorrow or so, hopefully. In the meantime I managed to remove the v0.2.11 release from the Releases page, so hopefully not so many users should be affected.

[2018-03-15 21:35] martinlindhe commented on #171
Okay, this should be easy to implement.

We already have collector/service.go exporting some values from Win32_Service.

We just need to extend it to also include the value of `Status`:

[code]

[2018-03-16 03:33] VR6Pete commented on #171
That would be great.

We have a few in house services that randomly fall over but still appear to be running.

Historically we see this from the status of the service with what nagios is reporting so we can take the appropriate action.

Cheers

Pete

[2018-03-16 07:25] Outek opened #172 "CIM over WMI?"
Hi

Im new to Golang/Go, maybe i'm getting some points really wrong in your project.
Do you ever thought about to change from WMI to CIM Queries?

Maybe there are some benefits doing this, maybe it is different with GO, or simply it is of out scope for you.

Maybe remoting is a thing? Run the queries from one node and trigger multiple other server?

[2018-03-16 07:26] karl-johan-grahn commented on #169
Yes, we noticed that ;-) By the way, the failure we had with 0.2.11 was related to the MSI - is the exe of 0.2.11 OK?

[2018-03-16 07:55] martinlindhe commented on #171
I feel helping to reduce number of nagios installs is a good cause. I have had my share of troubles with nagios in my days, too.

[2018-03-16 07:57] martinlindhe commented on #169
@karl-johan-grahn Yes, I believe the exe is okay. It ran as expected from my limited testing.
But @carlpett pointed out things that makes me question my conclusions from the other day a bit, so maybe take it with a grain of salt.

[2018-03-16 08:02] martinlindhe commented on #172
What benefits do you see from using CIM?

In my point of view, CIM is adding no value to what we already have.

The prometheus model of monitoring is adding a exporter to each system that needs to be monitored. For windows machines that is the wmi_exporter.

CIM on the other hand, is a way to exchange WMI information between windows systems. This is redundant to our cause as far as I can see.

[2018-03-16 08:30] carlpett commented on #171
Ah, I misunderstood. I was thinking about `State`, not `Status`. Obviously different things (naming things is hard, right?).
The cardinality of the service metrics will get pretty high if we add all the listed ~states~ statuses, though, and I'm not sure how many of them overlap with the state already. Should we start with just a gauge `wmi_service_degraded{name="<service-name>"} 0/1`, or is there

[2018-03-16 08:31] Outek commented on #172
Have you ever made some tests with nanoserver? Maybe there is the usecase using CIM.

[2018-03-16 08:37] martinlindhe commented on #172
I have not.

Could you please expand on what benefits you see from using CIM here? I fail to see it.

[2018-03-16 09:40] karl-johan-grahn opened #173 "Exe fails when specifying a custom query via Powershell"
We run wmi_exporter.exe via NSSM and Powershell, but it fails when specifying a custom query. Kind of like this:
[code]

It enables the collectors and starts it on the correct port, but with the where clause we just get this error:
[code]

Is something wrong with the Powershell syntax? It works when I run the exe locally with the same parameters.

[2018-03-16 09:54] carlpett commented on #173
Hi,
You can test the query with `Get-WmiObject -Query ...` to test your queries. In this case, I think the use of `''` (double single-quotes) looks a bit suspicious?

As a side-note, why are you using NSSM? Is it a workaround for the #169 issue?

[2018-03-16 09:55] karl-johan-grahn commented on #173
Yes, NSSM is workaround for #169. I think the issue is the splitting of the command across multiple lines using the backtick character, as each line shows up as a separate command. Maybe I should just put everything on a single line

[2018-03-16 09:57] karl-johan-grahn commented on #173
We use NSSM for other services too, so it doesn't have to be that, but noted it here in case it had side effects and was the cause of the error reported here, but I don't think so

[2018-03-16 10:10] VR6Pete commented on #171
I would see the behaviour inline with how Service state operates.

example:

wmi_service_status{name="<service-name>,status="OK"} 0
wmi_service_status{name="<service-name>,status="Degraded"} 1
wmi_service_status{name="<service-name>,status="Error"} 0

Possible values:

OK ("OK")
Error ("Error")
Degraded ("Degraded")
Unknown ("Unknown")
Pred Fail ("Pred Fail")
Starting ("Starting")
Stopping ("Stopp

[2018-03-16 10:20] karl-johan-grahn commented on #173
Powershell usage error, the string has to look like this:
[code]

[2018-03-16 10:20] #173 closed

[2018-03-16 12:46] carlpett commented on #171
Yes, that is the other option. It does increase the number of metrics rather a lot, though, so I just wanted to have the discussion on if the data is valuable, or if it largely mirrors the service_state metric anyway.

[2018-03-17 13:58] carlpett commented on #169
Right, I'm finally home and able to test. On my machine, replacing the vendor directory with the one from 0.2.10 works. Trying some surgical replacement is a bit harder, since other vendoring upgrades (logrus) seem to have pulled in stuff from golang.org. I'll see if I can do it with some more precision, to isolate the issue, but I think it is safe to assume that this is vendoring-related, at leas

[2018-03-17 14:01] martinlindhe commented on #169
@carlpett thanks for taking your time to have a look! This is great news, means we should be able to resolve it by pinning dependencies.

[2018-03-17 14:10] Outek commented on #172
I thought, there is no wmi in nanoserver, but this is wrong.
I thought with cim you can define a probing host to monitor remote nanoservers. So your choice for using wmi over cim is right. 👍

[2018-03-17 14:10] carlpett commented on #169
After some binary search, the culprit appears to be the prometheus vendoring.
I haven't confirmed it yet, but my current theory is that it is because we changed the flags library in common/log quite some time ago, and this in turn means that we no longer get the automatically added flags for logging in wmi_exporter, which in turn means that wmi_exporter will immediately quit because of the unknown

[2018-03-17 14:13] carlpett commented on #169
Yes, the unknown flag is what is going wrong. So, we should just fix this. Perhaps it is time to merge #112...

[2018-03-17 14:15] carlpett commented on #169
Also, this implies handling #114 as well

[2018-03-17 14:32] martinlindhe commented on #172
Great :-) I'll go ahead and close this issue then. Please add more comments or create a new issue if you feel there is more to discuss!

[2018-03-17 14:32] #172 closed

[2018-03-17 14:34] martinlindhe commented on #169
Okay, cool. So would #112 and #114 be required to solve to sort this in one sweep, or can we do it in smaller steps?

Also, changing the flags implies we bump minor version (eg 0.2.x -> 0.3.x) because of backward compatibility breakage.

[2018-03-17 14:35] martinlindhe commented on #169
(Also, sorry for not having time for assisting more. With some luck, I may have a upcoming gig that may change this for the better).

[2018-03-21 23:06] VR6Pete commented on #171
Is there anything further that needs discussion before a decision can be made on how this is implemented ? Cheers Pete

[2018-03-21 23:13] VR6Pete opened #175 "Windows Service Recovery"
Would it be possible to make a suggestion to set the option to automatically restart the wmi exporter service action upon the installation of the MSI? This should just be as simple as setting a reg key within the MSI registry table.

Cheers

Pete

[2018-03-22 07:09] carlpett commented on #175
I'd have to check, but I believe the standard behaviour was to restart three times, already. Have you observed this not to be the case?
(Also, I'm unaware of any crash bugs, we should make sure we don't have any of those too ;) )

[2018-03-22 08:52] VR6Pete commented on #175
I have observed when installing the service is set to "take no action" upon a failure. I have seen a few instances where the service has stopped for what ever reason and observed that the aforementioned.

Cheers

Pete

[2018-03-23 08:53] igor103 opened #176 "cannot load field "NumberOfUsers" into a "uint32": unsupported type (<nil>)"
Hello,

we've installed wmi_exporter-0.2.10-amd64 with default collectors on Windows Server 2016 Standard.
It starts successfully and exports most parameters however it doesn't export os data (memory, processes, users).

We see the following error in Event Viewer (actually twice per minute):

`ERROR: os collector failed after 0.392678s: wmi: cannot load field "NumberOfUsers" into a "uint32": unsup

[2018-03-23 13:33] philipflohr opened #177 "Invalid queries on Server 2012"
I installed wmi_exporter on several different OS versions, all were running fine except Windows Server 2012. All collectors fail with an invalid query message (like the one below)

Error	23.03.2018 14:27:29	wmi_exporter	102	None	"The description for Event ID 102 from source wmi_exporter cannot be found. Either the component that raises this event is not installed on your local computer or the inst

[2018-03-23 13:52] carlpett commented on #177
Sorry to hear that! Could you try running `Get-WmiObject Win32_PerfRawData_PerfOS_Processor` in a powershell prompt?

[2018-03-24 15:28] MartinRoenneburg commented on #157
Hi @e9d26,
Could you share your solution ?
I just ran into the problem...

[2018-03-24 17:45] MartinRoenneburg commented on #157
Got it.
-collector.service.services-where "Name LIKE 'MyServicePrefix%' OR Name='mylittleotherservice'"

I think this could be a good additional example for the readme.

[2018-03-25 08:18] #163 closed

[2018-03-25 08:19] #161 closed

[2018-03-25 08:20] carlpett commented on #168
@reedhastings Did you find the problem?

[2018-03-26 15:16] supertwister opened #179 "Monitor CPU uasge"
Hello,
Recently i have installed wmi_exporter in my Windows servers. Which metric do i need to use in order to monitor CPU usage?

I can see the following matrices in my Prometheus, And it seems that none of them is related to what i'm looking for:
wmi_cpu_cstate_seconds_total
wmi_cpu_dpcs_total
wmi_cpu_interrupts_total
wmi_cpu_time_total

Please advise.

[2018-03-26 15:52] VR6Pete commented on #179
I am using sum by (mode) (rate(wmi_cpu_time_total{instance=~"$server"}[5m])) in Grafana

Here is my rule for CPU utilisation.

 - alert: High CPU Utilisation
    expr: 100 - (avg by (instance) (irate(wmi_cpu_time_total{mode="idle"}[5m])) * 100) > 90
    for: 20m
    labels:
      severity: warning
    annotations:
      summary: "Instance {{ $labels.instance }} CPU Utilisation High - ({{ $value }}

[2018-03-28 12:05] bryanmorris opened #180 "Uninstalling?"
Hi,

I really need to uninstall it in order to make installation with more collector flags, but it tells me I don't have the permission, when trying to install a new version it says "The specified account already exists". I'm an Administrator on Windows Server.

This is pretty crucial instruction to provide, imo.

Thanks

[2018-03-28 12:12] bryanmorris commented on #180
Actually managed to delete via another entrance to Control Panel. That's weird.

[2018-03-28 12:12] #180 closed

[2018-03-28 12:29] carlpett commented on #180
Hm, that's odd. I've seen something similar when the Install/Uninstall window was opened before an update/installation of the msi. Good that it worked out!

[2018-03-30 07:24] #96 closed

[2018-03-30 07:30] carlpett commented on #179
@VR6Pete thanks!

[2018-03-30 07:30] #179 closed

[2018-03-31 11:31] pete-leese opened #181 "Event logging errors every minute"
It seems I deployed the MSI to machines that do not have MSMQ installed which is fine I guess, however every minute I get the following error in the event logs.

Perhaps it would be better to have it log this message to the event viewer when the services starts as I think every minute is too much or if it can handle this better when a collector has been enabled.

I.E IIS not installed on all targe

[2018-03-31 13:50] martinlindhe commented on #181
Patch is welcome, in the meantime you should configure your wmi_exporters to only include the collectors you are interested in.

Also FYI, msmq is not enabled by default.

[2018-03-31 18:49] VR6Pete commented on #181
I know that but I’ve got over 500 servers and do not have an inventory of what components are installed on what server so makes it difficult to target specific collectors hence the request for the exporter to handle this scinario better.

[2018-03-31 18:49] VR6Pete commented on #181
I know that but I’ve got over 500 servers and do not have an inventory of what components are installed on what server so makes it difficult to target specific collectors hence the request for the exporter to handle this scinario better.

[2018-03-31 21:26] martinlindhe commented on #181
I think this is a valid issue, so I'm gonna reopen it. Thanks for your report @VR6Pete

[2018-04-01 10:56] carlpett commented on #181
One potential improvement could be to check at start-up which collectors are possible to use and then disable them if the class is not present (after a clear log message).
On the other hand, I know of installations where the exporter is installed before all roles are guaranteed to be installed (parallel installations where the exporter and the roles are pushed simultaneously), so this approach wou

[2018-04-01 11:02] brian-brazil commented on #181
How we handle this in the node exporter is that if a file in /proc is missing due to that functionality not being present, the collector logs a debug-level message and returns no metrics.

[2018-04-02 11:32] VR6Pete commented on #181
Thanks. I don’t know why I closed it 🤔 too many beers I think !

Sounds like there are a couple of possible options to explore to make wmi exporter even better :)

[2018-04-04 16:14] poblahblahblah commented on #169
I think this should be good to close out and just skip 0.2.11.

[2018-04-04 20:52] mbibinski-ttd opened #182 "Release Request (to include Pull Request #174)"
Could a new release be made to include Pull Request #174 (already merged). I am working on a project that would greatly benefit from adding file collector to WMI_Exporter.

Thanks,
Mike

[2018-04-05 05:07] carlpett commented on #182
@mbibinski-ttd I hope to finish the final changes today, and then we'll release 0.3.0!
If you are already using wmi_exporter, do note that this version will have a breaking change in flag-syntax (from one dash to two), so prepare to adjust your installation procedures accordingly.

[2018-04-05 05:12] carlpett commented on #169
This was fixed by #112. New release upcoming

[2018-04-05 05:12] #169 closed

[2018-04-05 06:07] carlpett opened #184 "textfile collector logs error because default directory does not exist"
The textfile collector sets the default directory to the `textfile_inputs` subdirectory of the installation. The directory is not created, however, so each scrape results in an error logged.
We should ensure the default directory is created.

[2018-04-06 05:29] carlpett commented on #182
@mbibinski-ttd The release has been made, and artifacts should be published in a few minutes!

[2018-04-06 05:29] #182 closed

[2018-04-06 05:30] carlpett commented on #33
This has now been implemented in #174, and released with wmi_exporter 0.3!